<div class="container">
  <h3 class="mb-20 mt-0 weight--light">Dettagli</h3>
  <div class="bg-light p-all-side-15" *ngIf="film">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#informations" role="tab">Informazioni</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#collaborators" role="tab">Collaboratori</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#costs" role="tab">Costi sostenuti</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content mt-15">
      <div class="tab-pane active" id="informations" role="tabpanel">
        <film-main-informations [film]="this.film" (event)="setMessage($event)"></film-main-informations>
      </div>
      <div class="tab-pane" id="collaborators" role="tabpanel">
        <film-dubbers-list [dubbers]="this.dubbers" (msg)="setMessage($event)" (data)="setData($event)"></film-dubbers-list>
        <!-- <add-film-dubber [film]="this.film" (event)="setMessage($event)"></add-film-dubber> -->
      </div>
      <div class="tab-pane" id="costs" role="tabpanel">
        cost
      </div>
    </div>
  </div>
</div>
