<div class="container" *ngIf="film">
  <div class="row">
    <div class="col-sm-2">
      <figure class="m-all-side-0">
        <img src="/assets/images/copertina.jpg" alt="{{film.title}}" class="img-fluid img-thumbnail">
        <h5 class="mt-10 text-capitalize">{{film.title}}</h5>
      </figure>
    </div>
    <div class="col-sm-10">
      <alertMessage [message]="alert_message" *ngIf="alert_message"></alertMessage>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#informations" role="tab">Informazioni</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#collaborators" role="tab">Collaboratori</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content pboth-15">
        <div class="tab-pane active" id="informations" role="tabpanel">
          <form #UpdateFilmForm="ngForm" (ngSubmit)="upDateFilm(UpdateFilmForm)" novalidate class="form--light">
            <div class="form-group" [ngClass]="{ 'has-error': UpdateFilmForm.submitted && !title.valid }">
              <label for="title">Titolo</label>
              <input type="text" id="title" class="form-control" placeholder="Title" [(ngModel)]="film.title" name="title" #title="ngModel" required>
              <div *ngIf="UpdateFilmForm.submitted && !title.valid" class="is-invalid">Campo non valido</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': UpdateFilmForm.submitted && !description.valid }">
              <label for="description">Descrizione</label>
              <textarea id="description" rows="10" class="form-control" placeholder="Description" [(ngModel)]="film.description" name="description" #description="ngModel" required></textarea>
              <div *ngIf="UpdateFilmForm.submitted && !description.valid" class="is-invalid">Campo non valido</div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <back-button></back-button>
              </div>
              <div class="col-sm-6 text-right">
                <button type="submit" class="btn btn-outline-success">Salva modifiche</button>
              </div>
            </div>
          </form>
        </div>
        <div class="tab-pane" id="collaborators" role="tabpanel">
          <table class="table table--striped" *ngIf="film.dubbers.length; else noDubbers">
            <tbody>
              <tr *ngFor="let dubber of film.dubbers">
                <td>{{dubber.name}}</td>
                <td class="text-right">
                  <a [routerLink]="['/dubber', dubber.id]" class="btn btn--dark">
                    <i class="fa fa-info" aria-hidden="true"></i>
                  </a>
                  <button (click)="deleteDubber(dubber.id)" class="btn btn--dark">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <ng-template #noDubbers>
            <p class="alert alert-warning">Non ci sono doppiatori associati</p>
          </ng-template>

          <form #AddDubberForm="ngForm" (ngSubmit)="addDubberSelected(AddDubberForm)" class="form--light">
            <div class="form-group">
              <label for="exampleFormControlSelect2">Lista doppiatori</label>
              <select name="dubber" class="form-control" ngModel>
                <option *ngFor="let dubber of dubbers" value="{{dubber.id}};{{dubber.name}}">
                  {{dubber.name}} {{dubber.surname}}
                </option>
              </select>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <back-button></back-button>
              </div>
              <div class="col-sm-6 text-right">
                <button type="submit" class="btn btn-outline-success">Aggiungi</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
