<table class="table table--striped" *ngIf="dataset.invoices.length; else noInvoices">
  <tbody>
    <tr *ngFor="let invoice of dataset.invoices">
      <td>Compenso per prestazione d'opera relativa al film <strong>{{invoice.movie}}</strong></td>
      <td class="text-right">
        <a [routerLink]="['/invoice', invoice.id]" class="btn btn-outline-primary">
          <i class="fa fa-info" aria-hidden="true"></i>
        </a>
        <a href="" class="btn btn-outline-success">
          <i class="fa fa-download"></i>
        </a>
        <button (click)="delete(invoice, $event)" class="btn btn-outline-danger">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<ng-template #noInvoices>
  <p class="alert alert-warning">There aren't associated invoices</p>
</ng-template>
