<h4 class="mb-20">Aggiungi nuovo conto corrente</h4>
<form name="form" (ngSubmit)="f.form.valid && create()" #f="ngForm" novalidate class="form--light bg-light p-all-side-20">
  <div class="form-row">
    <div class="col-sm-12 col-md-6 mb-3">
      <div class="form-group">
        <label for="bank_name">Nome Banca</label>
        <input id="bank_name" type="text" class="form-control text-capitalize" placeholder="Nome Banca" [(ngModel)]="bank.bank_name" name="bank_name" #bank_name="ngModel" required>
        <div *ngIf="f.submitted && !bank_name.valid" class="is-invalid">Campo errato</div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mb-3">
      <div class="form-group">
        <label for="bank_agency">Agenzia</label>
        <input id="bank_agency" type="text" class="form-control text-capitalize" placeholder="Agenzia" [(ngModel)]="bank.bank_agency" name="bank_agency" #bank_agency="ngModel" required>
        <div *ngIf="f.submitted && !bank_agency.valid" class="is-invalid">Campo errato</div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 mb-3">
      <div class="form-group">
        <label for="bank_account">Conto Corrente</label>
        <input id="bank_account" type="text" class="form-control text-capitalize" placeholder="C/C" [(ngModel)]="bank.bank_account" name="bank_account" #bank_account="ngModel" required>
        <div *ngIf="f.submitted && !bank_account.valid" class="is-invalid">Campo errato</div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 mb-3">
      <div class="form-group">
        <label for="abi">ABI</label>
        <input id="abi" type="text" class="form-control text-capitalize" placeholder="ABI" [(ngModel)]="bank.abi" name="abi" #abi="ngModel" required>
        <div *ngIf="f.submitted && !abi.valid" class="is-invalid">Campo errato</div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 mb-3">
      <div class="form-group">
        <label for="cab">CAB</label>
        <input id="cab" type="text" class="form-control text-capitalize" placeholder="CAB" [(ngModel)]="bank.cab" name="cab" #cab="ngModel" required>
        <div *ngIf="f.submitted && !cab.valid" class="is-invalid">Campo errato</div>
      </div>
    </div>
  </div>
  <div class="text-right">
    <button type="submit" class="btn btn-outline-success">Aggiungi</button>
  </div>
</form>
