<h4 class="mb-20">Aggiungi nuovo conto corrente</h4>
<form name="form" (ngSubmit)="f.form.valid && create(f)" #f="ngForm" novalidate class="form--light bg-light p-all-side-20">
  <div class="form-row">
    <div class="col-sm-12 col-md-6 mb-3">
      <div class="form-group">
        <label for="bank_name">Nome Banca</label>
        <input id="bank_name" type="text" class="form-control black text-capitalize" placeholder="Nome Banca" ngModel name="bank_name" #bank_name="ngModel">
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mb-3">
      <div class="form-group">
        <label for="bank_agency">Agenzia</label>
        <input id="bank_agency" type="text" class="form-control black text-capitalize" placeholder="Agenzia" ngModel name="bank_agency" #bank_agency="ngModel">
      </div>
    </div>
    <div class="col-sm-12 col-md-4 mb-3">
      <div class="form-group" [ngClass]="{
        'has-danger': bank_account.invalid && (bank_account.dirty || bank_account.touched)
      }">
        <label for="bank_account">Conto Corrente</label> <span *ngIf="bank_account.invalid && (bank_account.dirty || bank_account.touched)" class="text-danger">Campo non valido</span>
        <input id="bank_account" type="text" class="form-control black text-capitalize" placeholder="C/C" ngModel name="bank_account" #bank_account="ngModel" pattern="[0-9]{12}">
      </div>
    </div>
    <div class="col-sm-12 col-md-4 mb-3">
      <div class="form-group" [ngClass]="{
        'has-danger': abi.invalid && (abi.dirty || abi.touched)
      }">
        <label for="abi">ABI</label> <span *ngIf="abi.invalid && (abi.dirty || abi.touched)" class="text-danger">Campo non valido</span>
        <input id="abi" type="text" class="form-control black text-capitalize" placeholder="ABI" ngModel name="abi" #abi="ngModel" pattern="[0-9]{5}">
      </div>
    </div>
    <div class="col-sm-12 col-md-4 mb-3">
      <div class="form-group" [ngClass]="{
        'has-danger': cab.invalid && (cab.dirty || cab.touched)
      }">
        <label for="cab">CAB</label> <span *ngIf="cab.invalid && (cab.dirty || cab.touched)" class="text-danger">Campo non valido</span>
        <input id="cab" type="text" class="form-control black text-capitalize" placeholder="CAB" ngModel name="cab" #cab="ngModel" pattern="[0-9]{5}">
      </div>
    </div>
  </div>
  <div class="text-right">
    <button type="submit" class="btn btn-outline-success" [disabled]="f.invalid">Aggiungi</button>
  </div>
</form>
