<header id="header" class="position-sticky navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <a class="navbar-brand mr-0 mr-md-2" [routerLink]="['/']">
    VOLTUMNA EDIZIONI
  </a>

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row main-nav">
      <li class="nav-item" [class.active]="router.url==='/'">
        <a class="nav-link" [routerLink]="['/']">Dashboard</a>
      </li>
      <li class="nav-item" [class.active]="router.url==='/films'">
        <a class="nav-link" [routerLink]="['/films']">Film</a>
      </li>
      <li class="nav-item dropdown" [class.active]="router.url==='/dubbers' || router.url==='/dubbers/list' || router.url==='/dubbers/archived'">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Collaboratori
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/dubbers/add']">Crea nuovo</a>
          <a class="dropdown-item" [routerLink]="['/dubbers/list']">Lista</a>
          <a class="dropdown-item" [routerLink]="['/dubbers/archived']">Archiviati</a>
        </div>
      </li>
      <li class="nav-item dropdown" [class.active]="router.url==='/contracts' || router.url==='/contracts/new' || router.url==='/contracts/archived'">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Contratti
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/contracts/new']">Nuovo contratto</a>
          <a class="dropdown-item" [routerLink]="['/contracts']">Lista</a>
          <a class="dropdown-item" [routerLink]="['/contracts/archived']">Archiviati</a>
        </div>
      </li>
      <li class="nav-item dropdown" [class.active]="router.url==='/enaplspayments' || router.url==='/enaplspayments/report'">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Enapls versamenti
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/enaplspayments']">Lista</a>
          <a class="dropdown-item" [routerLink]="['/enaplspayments/report']">Report</a>
        </div>
      </li>
      <!-- <li class="nav-item dropdown" [class.active]="router.url==='/todo' || router.url==='/todo/list' || router.url==='/todo/expired'">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          To Do
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/todo/list']">List</a>
          <a class="dropdown-item" [routerLink]="['/todo/expired']">Scaduti</a>
        </div>
      </li> -->
      <li class="nav-item dropdown" [class.active]="router.url==='/settings' || router.url==='/settings/qualifications' || router.url==='/settings/companies' || router.url==='/settings/enpals-parameters'">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Impostazioni
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/settings/qualifications']">Qualifiche</a>
          <a class="dropdown-item" [routerLink]="['/settings/companies']">Aziende</a>
          <a class="dropdown-item" [routerLink]="['/settings/enpals-parameters']">Parametri Enpals</a>
          <a class="dropdown-item" [routerLink]="['/settings/retribution-bands']">Fasce retributive</a>
        </div>
      </li>
      <li class="nav-item dropdown" [class.active]="router.url==='/reports' || router.url==='/reports/film-cost'">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Reports
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/reports/film-cost']">Costo film</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="flex-row ml-md-auto d-none d-md-flex">
    <ul class="navbar-nav icons-nav">
      <icons-nav></icons-nav>
    </ul>
    <ul class="navbar-nav ml-md-3">
      <li class="nav-item dropdown" *ngIf="current_user">
        <a class="dropdown-toggle ml-md-2 text-capitalize" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{current_user.firstname}} {{current_user.lastname}}
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
  <!-- <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex" *ngIf="current_user">
    <li class="nav-item dropdown">
      <a class="nav-item nav-link dropdown-toggle mr-md-2 text-capitalize" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{current_user.firstname}} {{current_user.lastname}}
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
        <a class="dropdown-item" href="#">Settings</a>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </li>
  </ul> -->
</header>
