<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="header">
  <a class="navbar-brand" href="#">Dubbers</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class.active]="router.url==='/index'">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item" [class.active]="router.url==='/dubbers'">
        <a class="nav-link" [routerLink]="['/dubbers']">Dubbers</a>
      </li>
      <li class="nav-item" [class.active]="router.url==='/film'">
        <a class="nav-link" [routerLink]="['/film']">Film</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" id="search-form">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </span>
      </div>
    </form>
  </div>
</nav>
