<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="header">
  <a class="navbar-brand" href="#">Dubbers</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class.active]="router.url==='/index'">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item" [class.active]="router.url==='/dubbers'">
        <a class="nav-link" [routerLink]="['/dubbers']">Dubbers</a>
      </li>
      <li class="nav-item" [class.active]="router.url==='/film'">
        <a class="nav-link" [routerLink]="['/film']">Film</a>
      </li>
      <li class="nav-item" [class.active]="router.url==='/users'" *ngIf="currentUser.userType == 'administrator'">
        <a class="nav-link" [routerLink]="['/users']">Users</a>
      </li>
    </ul>
    <ul class="nav nav-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          {{currentUser.firstName}}
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" [routerLink]="['/login']">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
