@import "../../../../assets/stylesheet/mixin/custom-mixin";
@import '../../../../assets/stylesheet/widgets/variables';

#header{
  background-color: rgba(0,0,0,.3);
  @include  box-shadow(0 0 13px rgba(0,0,0,.22));
}

#search-form {
  .form-control {
    @include border(1px, #e5e5e5);
    border-right: 0;
    font-size: 13px;
    @include placeholder(#5c5c5c);
    &:hover {
      border-right: 0;
    }
    &:focus {
      box-shadow: none;
    }
  }
  .input-group-btn {
    button {
      background-color: white;
      @include border(1px, #e5e5e5);
      border-left: 0;
      i {
        color: #e7e9ed;
      }
    }
  }
}
