.btn {
  &--light, &--dark {
    font-size: 13px;
    border-radius: 2px;
    @include transition(color .3s);
    color: white;
    &:hover {
      color: white;
    }
  }
  &--light {
    background-color: rgba(255,255,255,.125);
    &:hover {
      background-color: rgba(255,255,255,.25);
    }
  }
  &--dark {
    background-color: rgba(0,0,0,.25);
    &:hover {
      background-color: rgba(0,0,0,.35);
    }
  }
  &--radius {
    @include radius(38px);
    text-align: center;
    padding: 0;
  }
  &__link {
    @include spaces(0, 0);
    &--white {
      color: white;
    }
  }
}
