.form {
  &--light {
    input, textarea, select {
      border-radius: 2px;
      border: 0;
      font-size: 13px;
      padding: 10px 15px;
    }
    select {
      &.form-control {
        &.black {
          option {
            color: black;
          }
        }
      }
    }
    .form-control{
      &.black {
        background-color: rgba(255,255,255,.08);
        color: rgba(255,255,255,.85);
        @include placeholder(rgba(255, 255, 255, 0.65));
        &:disabled {
          background-color: rgba(255,255,255,.08);
        }
        &[readonly] {
          background-color: rgba(255,255,255,.08);
          &:focus {
            color: white;
          }
        }
      }
    }
  }
  &-check {
    position: relative;
    &-input {
      top: 6px;
      margin-top: 0;
      margin-left: 0;
    }
    &-label {
      padding-left: 15px;

    }
  }
}

// input, textarea {
//   &.ng {
//     &-pristine {
//       &.ng-touched {
//         &.ng-invalid {
//           @include border(1px, #bb0808);
//         }
//         // &.ng-valid {
//         //   @include border(1px, green);
//         // }
//       }
//     }
//   }
// }

.form-group {
  .required {
    color: #bb0808;
  }
  &.has-success {
    input, textarea {
      @include border(1px, #5cb85c);
    }
  }
  &.has-danger {
    input, textarea {
      @include border(1px, #bb0808);
    }
  }
}
