//@import "../mixin/custom-mixin";

.modal {
  $this: &;
  &.message-modal {
    #{$this}-content {
      background: rgba(0,0,0,.96);
      @include box-shadow(0 5px 20px rgba(0,0,0,.3));
      border-radius: 2px;
    }
    #{$this}-header {
      border-bottom: 0;
      .close {
        color: white;
      }
    }
    #{$this}-footer {
      border-top: 0;
    }
  }
}
