<div class="container">
  <alertMessage [message]="alertMessage" *ngIf="alertMessage"></alertMessage>
  <div class="generalCard card mb-4">
    <div class="generalCard__body">
      <form name="form" (ngSubmit)="f.form.valid && create()" #f="ngForm" novalidate class="form--light">
        <div class="form-group">
          <label for="name">Company name</label>
          <input id="name" type="text" class="form-control text-capitalize" placeholder="Company name" [(ngModel)]="company.name" name="name" #name="ngModel" required>
          <div *ngIf="f.submitted && !name.valid" class="is-invalid">Field value is incorrect</div>
        </div>
        <div class="form-group">
          <label for="vat">VAT</label>
          <input id="vat" type="text" class="form-control" placeholder="vat" [(ngModel)]="company.vat" name="vat" #vat="ngModel" required pattern="^[0-9]{11}$">
          <div *ngIf="f.submitted && !vat.valid" class="is-invalid">Field value is incorrect</div>
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input id="address" type="text" class="form-control text-capitalize" placeholder="Indirizzo" [(ngModel)]="company.address" name="address" #address="ngModel" required>
          <div *ngIf="f.submitted && !address.valid" class="is-invalid">Field value is incorrect</div>
        </div>
        <div class="row mt-30 mb-20">
          <div class="col-sm-6">
            <back-button></back-button>
          </div>
          <div class="col-sm-6 text-right">
            <button type="submit" class="btn btn-outline-success">Create company</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
