<div class="container">
  <alertMessage [message]="alertMessage" *ngIf="alertMessage"></alertMessage>
  <modalPrompt [message]="modalMessage" (confirm)="setConfirm($event)"></modalPrompt>
  <nav class="clearfix mb-3">
    <div class="float-left">
      <h3 class="section-title">Company list</h3>
    </div>
    <div class="align-middle float-right">
      <a [routerLink]="['/company/add']" class="btn btn--light">Add company</a>
    </div>
  </nav>
  <div class="generalCard card mb-4">
    <div class="generalCard__body">
      <table class="table table--striped">
        <thead class="thead--dark">
          <tr>
            <th>Name</th>
            <th>Partita Iva</th>
            <th>Address</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let company of companies">
            <td>{{company.name}}</td>
            <td>{{company.piva}}</td>
            <td>{{company.address}}</td>
            <td class="text-right">
              <a [routerLink]="['/company', company.id]" class="btn btn--dark">
                <i class="fa fa-info" aria-hidden="true"></i>
              </a>
              <a [routerLink]="['/company', company.id]" class="btn btn--dark">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
              <button (click)="passCurrentCompany(company)" class="btn btn--dark" data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <paginator (pagedItems)="dataset($event)" [DBtable]="DBTable"></paginator>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <back-button></back-button>
    </div>
    <div class="col text-right">
      <a [routerLink]="['/company/add']" class="btn btn--light">Add company</a>
    </div>
  </div>
</div>
