@import "../../../../assets/stylesheet/mixin/custom-mixin";

.error-page {
  &__inner {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    padding: 3rem;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0,0,0,.2);
  }
  &__title {
    @include font-style(8rem, white, 700);
    text-shadow: 0 0 10px rgba(0,0,0,.03);
    line-height: 100%;
    margin-bottom: 1.5rem;
  }
  &__subtitle {
    margin: 1.3rem 0;
    @include font-style(1.5rem, rgba(255,255,255,.85), 400);
  }
  &__description {
    @include font-style(1.1rem, rgba(255,255,255,.7));
  }
}
