@import "../../../assets/stylesheet/mixin/custom-mixin";
@import '../../../assets/stylesheet/widgets/variables';


.generalCard {
  background-color: white;
  position: relative;
  border-radius: 0.4167rem;
  @include box-shadow(rgba(0, 0, 0, 0.18) 0px 9px 23px, rgba(0, 0, 0, 0.12) 0px 5px 5px);
  &__header {
    @include border(1px, rgba(0, 0, 0, 0.09), bottom);
    background-color: transparent;
    @include spaces(25px 10px, 0 15px);
    color: rgb(7, 167, 227);
    font-size: 1.333rem;
    position: relative;
  }
  &__body {
    padding: 25px;
  }
  &__list {
    &-item {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      &--avatar {
        @include size(45px, 45px);
        border-radius: 50%;
        background: linear-gradient(135deg, rgb(7, 167, 227) 0%, rgb(50, 218, 195) 100%);
        line-height: 45px;
        text-align: center;
        text-transform: uppercase;
        color: white;
      }
      &--text {
        height: 45px;
        // text-transform: uppercase;
        font-size: 12px;
        color: rgb(114, 132, 140);
        & > a {
          color: rgb(114, 132, 140);
        }
      }
    }
  }
  &__footer {
    padding: 15px;
  }
}
