<div class="row">
  <div class="col-lg-4 col-md-6">
    <div class="general-card card">
      <h4 class="general-card__title">
        Lista dei Collaboratori
      </h4>
      <h6 class="general-card__subtitle">Commodo luctus nisi erat porttitor ligula eget lacinia odio semnec</h6>
      <div class="general-card__body">
        <div class="general-card__list">
          <ng-container *ngFor="let dubber of dubbers; let i=index">
            <div class="media general-card__list-item" *ngIf="i < 10">
              <span class="d-flex justify-content-center mr-3 general-card__list-item--avatar">{{dubber.avatar}}</span>
              <div class="media-body">
                <h5 class="mboth-0 general-card__list-item--text d-flex align-items-center">
                  <a [routerLink]="['/dubber', dubber.id]" class="text-capitalize">{{dubber.name}} {{dubber.surname}}</a>
                </h5>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="general-card">
      <h4 class="general-card__title">Lista dei film</h4>
      <h6 class="general-card__subtitle">Commodo luctus nisi erat porttitor ligula eget lacinia odio semnec</h6>
      <div class="general-card__body">
        <div class="general-card__list">
          <ng-container *ngFor="let film of films; let i=index">
            <div class="media general-card__list-item" *ngIf="i < 10">
              <img class="d-flex mr-3 rounded-circle" src="../../assets/images/copertina.jpg" alt="{{film.title}}" height="45">
              <div class="media-body">
                <h5 class="mboth-0 general-card__list-item--text d-flex align-items-center">
                  <a [routerLink]="['/film', film.id]" class="text-uppercase">{{film.title}}</a>
                </h5>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
    <div class="general-card card mb-4">
      <h4 class="general-card__title">Report Versamenti Enpals</h4>
      <h6 class="general-card__subtitle">Commodo luctus nisi erat porttitor ligula eget lacinia odio semnec</h6>
      <div class="general-card__body">
        <chart-enpals-payments></chart-enpals-payments>
      </div>
    </div>
  </div>
</div>
