<div class="container">
  <alertMessage [message]="alert_message" *ngIf="alert_message"></alertMessage>
  <nav class="row mb-3">
    <div class="col text-right">
      <a [routerLink]="['/settings/retribution-bands']" class="btn btn--light">Fasce retributive</a>
    </div>
  </nav>
  <div class="general-card card mb-4">
    <div class="general-card__body">
      <table class="table table--striped">
        <thead class="thead--dark">
          <tr>
            <th>id</th>
            <th>Quota enpals lavoratore</th>
            <th>Quota enpals ditta</th>
            <th>Minimale inps</th>
            <th>Percentuale minimale inps</th>
            <th>Minimale enpals</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="form--light">
          <tr [enpals_param]="item" *ngFor="let item of enpals_parameters" setting-enpals-par-row></tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <back-button></back-button>
    </div>
    <div class="col text-right"></div>
  </div>
</div>
