<div class="container" *ngIf="dubber">
  <div class="general-card general-card--light card mb-4">
    <div class="general-card__body">
      <div class="row">
        <div class="col-sm-2">
          <div class="m-0">
            <figure class="ml-0 mr-0 mb-0 mt-10" *ngIf="dubber.gender == 'M'; else UserFemale">
              <img src="/assets/images/user-male.svg" alt="{{dubber.name}} {{dubber.surname}}" class="img-fluid img-thumbnail">
            </figure>
            <ng-template #UserFemale>
              <figure class="ml-0 mr-0 mb-0 mt-10">
                <img src="/assets/images/user-female.svg" alt="{{dubber.name}} {{dubber.surname}}" class="img-fluid img-thumbnail">
              </figure>
            </ng-template>
            <figcaption class="mt-10 text-capitalize weight--light">{{dubber.name}} {{dubber.surname}}</figcaption>
          </div>
        </div>
        <div class="col-sm-10">
          <alertMessage [message]="alert_message" *ngIf="alert_message"></alertMessage>
          <modalPrompt [message]="modal_message" (confirm)="setConfirm($event)"></modalPrompt>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#personal-data" role="tab">Dati personali</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tax-information" role="tab">Informazioni fiscali</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#banks" role="tab">Coordinate bancarie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#enpals-cat" role="tab">Categorie enpals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#collaborations" role="tab">Collaborazioni</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#invoices" role="tab">Fatture</a>
            </li> -->
          </ul>
          <!-- Tab panes -->
          <div class="tab-content pboth-15">
            <div class="tab-pane active" id="personal-data" role="tabpanel">
              <personal-information [dubber]="this.dubber" (msg)="setMessage($event)"></personal-information>
            </div>
            <div class="tab-pane" id="tax-information" role="tabpanel">
              <tax-information [addresses]="this.dubber.addresses" (msg)="setMessage($event)"></tax-information>
            </div>
            <div class="tab-pane" id="banks" role="tabpanel">
              <banksList [banks]="this.dubber.banks" (current_bank)="setData($event)" (msg)="setMessage($event)"></banksList>
              <bankForm [banks]="this.dubber.banks" (msg)="setMessage($event)"></bankForm>
            </div>
            <div class="tab-pane" id="enpals-cat" role="tabpanel">
              <dubber-enpals-cat [enpals_cat]="this.dubber.enpals_categories[0]" (msg)="setMessage($event)"></dubber-enpals-cat>
            </div>
            <div class="tab-pane" id="collaborations" role="tabpanel">
              <dubber-films [collaborations]="this.dubber.collaborations" (current_film)="setData($event)" (msg)="setMessage($event)"></dubber-films>
            </div>
            <!-- <div class="tab-pane" id="invoices" role="tabpanel">
              <invoicesesList [invoices]="this.dubber.invoices" (current_invoice)="setData($event)" (msg)="setMessage($event)"></invoicesesList>
              <formInvoice [dubber]="this.dubber" (msg)="setMessage($event)"></formInvoice>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
