<div class="container" *ngIf="dubber">
  <div class="general-card card mb-4">
    <div class="general-card__body">
      <div class="row">
        <div class="col-sm-2">
          <figure class="m-0">
            <img src="/assets/images/user_placeholder_man.png" alt="The Pulpit Rock" class="img-fluid img-thumbnail">
            <h5 class="mt-10 text-capitalize">{{dubber.name}} {{dubber.surname}}</h5>
          </figure>
        </div>
        <div class="col-sm-10">
          <alertMessage [message]="alert_message" *ngIf="alert_message"></alertMessage>
          <modalPrompt [message]="modal_message" (confirm)="setConfirm($event)"></modalPrompt>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#personal-data" role="tab">Dati personali</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tax-information" role="tab">Informazioni fiscali</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#banks" role="tab">Banche associate</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#collaborations" role="tab">Collaborazioni</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#invoices" role="tab">Fatture</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content pboth-15">
            <div class="tab-pane active" id="personal-data" role="tabpanel">
              <personal-information [dubber]="this.dubber" (event)="setMessage($event)"></personal-information>
            </div>
            <div class="tab-pane" id="tax-information" role="tabpanel">
              <tax-information [dubber]="this.dubber"></tax-information>
            </div>
            <div class="tab-pane" id="banks" role="tabpanel">
              <banksList [dubber]="this.dubber" (current_bank)="setData($event)" (msg)="setMessage($event)"></banksList>
              <bankForm [dubber]="this.dubber" (event)="setMessage($event)"></bankForm>
            </div>
            <div class="tab-pane" id="collaborations" role="tabpanel">
              <dubber-films [dubber]="this.dubber"></dubber-films>
            </div>
            <div class="tab-pane" id="invoices" role="tabpanel">
              <invoicesesList [dubber]="this.dubber" (event)="setMessage($event)"></invoicesesList>
              <formInvoice [dubber]="this.dubber" (event)="setMessage($event)"></formInvoice>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
