<div class="generalCard card mb-4">
  <div class="generalCard__body">
    <form #InvoiceForm="ngForm" (ngSubmit)="create(InvoiceForm, $event)" class="form--light">
      <div class="form-group">
        <label for="movie">Select movie</label>
        <select name="movie" class="form-control" ngModel>
          <option *ngFor="let movie of dataset.film" value="{{movie.title}}">
            {{movie.title}}
          </option>
          <option disabled *ngIf="!dataset.film.length">
            There aren't associated movies
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="gross_compensation">Gross compensation</label>
        <input id="gross_compensation" type="text" class="form-control" placeholder="Gross compensation" ngModel name="gross_compensation" #gross_compensation="ngModel" required>
      </div>
      <div class="form-group">
        <label for="tax_percetual">Ritenuta d'acconto del</label>
        <select name="tax_percetual" class="form-control" ngModel>
          <option value="20">20%</option>
          <option value="40">40%</option>
          <option value="50">50%</option>
        </select>
      </div>
      <div class="form-group">
        <label for="taxPercetual">Company</label>
        <select class="form-control" required ngModel name="company">
          <option *ngFor="let company of companies" value="{{company.id}}; {{company.name}}; {{company.address}}; {{company.tav}}">
            {{company.name}}
          </option>
        </select>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-success" [disabled]="!InvoiceForm.valid">Generate invoice</button>
      </div>
    </form>
  </div>
</div>
