<div class="container">
  <alertMessage [message]="alert_message" *ngIf="alert_message"></alertMessage>
  <modalPrompt [message]="modal_message" (confirm)="setConfirm($event)"></modalPrompt>
  <nav class="clearfix mb-3">
    <div class="row">
      <div class="col">
        <search-form [setDataForRequest]="dataForRequestSearchComp" (results)="setFoundValueFromSearch($event)"></search-form>
      </div>
    </div>
  </nav>
  <div class="general-card card mb-4">
    <div class="general-card__body">
      <table class="table table--striped" *ngIf="dubbers.length; else noDubbers">
        <thead class="thead--dark">
          <tr>
            <th></th>
            <th>Nome</th>
            <th>Luogo di nascita</th>
            <th>Data di nascita</th>
            <th>Email</th>
            <th>Cellulare</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr [dubber]="dubber" *ngFor="let dubber of dubbers" (data)="getData($event)" (msg)="getMessage($event)" archived-dubber-row></tr>
        </tbody>
      </table>
      <ng-template #noDubbers>
        <p class="alert alert-warning mb-0">Non ci sono elementi archiviati</p>
      </ng-template>
      <!-- <paginator (pagedItems)="dataset($event)" [DB_table]="DB_table"></paginator> -->
    </div>
  </div>
  <back-button></back-button>
</div>
