<div class="container">
  <table border="1" cellpadding="5" class="table">
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Age</th>
      <th>Sex</th>
      <th>nationality</th>
      <th>Profile</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let dubber of dubberService.dubbersList">
      <td><img src="{{dubber.photo}}" width="40" height="40"></td>
      <td>{{dubber.name}}</td>
      <td>{{dubber.surname}}</td>
      <td>{{dubber.age}}</td>
      <td>{{dubber.gender}}</td>
      <td>{{dubber.nationality}}</td>
      <td>
        <a [routerLink]="['/dubberProfile', dubber.id]">
          View Profile
        </a>
      </td>
      <td>
        <button (click)="getSingleItem(dubber)">Modify</button>
      </td>
      <td>
        <button (click)="onDelete(dubber)">Delete</button>
      </td>
    </tr>
  </table>
  <section>
    <h3 class="text-center">Add Dubber</h3>
     <form #addDubberForm="ngForm" (ngSubmit)="onSubmit(addDubberForm)">
       <div class="form-group">
         <label for="name">Name</label>
         <input *ngIf="currentItem; else elseBlockName" id="name" type="text" class="form-control" placeholder="Name" [(ngModel)]="currentItem.name" name="name">
         <ng-template #elseBlockName>
           <input id="name" type="text" class="form-control" placeholder="Name" ngModel name="name">
         </ng-template>
       </div>
       <div class="form-group">
         <label for="surname">Surname</label>
         <input *ngIf="currentItem; else elseBlockSurname" id="surname" type="text" class="form-control" placeholder="Surname" name="surname" [(ngModel)]="currentItem.surname">
         <ng-template #elseBlockSurname>
           <input id="surname" type="text" class="form-control" placeholder="Surname" ngModel name="surname">
         </ng-template>
       </div>
       <div class="form-group">
         <label for="age">Age</label>
         <input *ngIf="currentItem; else elseBlockAge" id="age" type="text" class="form-control" placeholder="Age" name="age" [(ngModel)]="currentItem.age">
         <ng-template #elseBlockAge>
           <input id="age" type="text" class="form-control" placeholder="Age" name="age" ngModel>
         </ng-template>
       </div>
       <div class="form-group">
         <label for="gender">Gender</label>
         <select class="form-control" id="gender" name="gender" ngModel>
            <option value="F">F</option>
            <option value="M">M</option>
          </select>
       </div>
        <div class="form-group">
          <label for="photo">Photo</label>
          <input *ngIf="currentItem; else elseBlockPhoto" id="photo" type="text" class="form-control" placeholder="Photo" name="photo" [(ngModel)]="currentItem.photo">
          <ng-template #elseBlockPhoto>
            <input id="photo" type="text" class="form-control" placeholder="Photo" name="photo" ngModel>
          </ng-template>
        </div>
        <div class="form-group">
          <label for="nationality">Nationality</label>
          <input *ngIf="currentItem; else elseBlockNationality" id="nationality" type="text" class="form-control" placeholder="Nationality" name="nationality" [(ngModel)]="currentItem.nationality">
          <ng-template #elseBlockNationality>
            <input id="nationality" type="text" class="form-control" placeholder="Nationality" name="nationality" ngModel>
          </ng-template>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Add dubber</button>
        </div>
    </form>
  </section>
</div>
