<div class="container">
  <h2 class="text-center">Dubbers List</h2>
  <table class="table table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Sex</th>
        <th>nationality</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dubber of dubberService.dubbersList">
        <td>{{dubber.name}}</td>
        <td>{{dubber.surname}}</td>
        <td>{{dubber.age}}</td>
        <td>{{dubber.gender}}</td>
        <td>{{dubber.nationality}}</td>
        <td>
          <a [routerLink]="['/dubberProfile', dubber.id]" class="btn btn-outline-primary">
            <i class="fa fa-info" aria-hidden="true"></i>
          </a>
        </td>
        <td>
          <button (click)="getSingleItem(dubber)" class="btn btn-outline-warning">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
        </td>
        <td>
          <button (click)="onDelete(dubber)" class="btn btn-outline-danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <section>
    <h3 class="text-center">Add Dubber</h3>
    <addDubber [dubber]="currentItem"></addDubber>
  </section>
</div>
