<div class="container">
  <h2 class="section-title">Dubbers List</h2>
  <p>This is the list of dubbers registered with dubbers.com</p>
  <section class="itemsList">
    <div class="itemsList__header row">
      <div class="col"></div>
      <div class="col text-uppercase">Name</div>
      <div class="col text-uppercase">Place of birth</div>
      <div class="col text-uppercase">County of birth</div>
      <div class="col"></div>
    </div>
    <div class="itemsList__body">
      <div class="itemsList__body-row row" *ngFor="let dubber of dubberService.dubbersList">
        <div class="col">
          <span class="itemsList__avatar">{{dubber.avatar}}</span>
        </div>
        <div class="col pt-20 text-capitalize">
          {{dubber.name}} {{dubber.surname}}
        </div>
        <div class="col pt-20">
          {{dubber.birthplace}}
        </div>
        <div class="col pt-20">
          {{dubber.birthcounty}}
        </div>
        <div class="col text-right">
          <a [routerLink]="['/dubberProfile', dubber.id]" class="btn btn-outline-primary">
            <i class="fa fa-info" aria-hidden="true"></i>
          </a>
          <button (click)="getSingleItem(dubber)" class="btn btn-outline-warning">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button (click)="onDelete(dubber)" class="btn btn-outline-danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h3 class="text-center">Add Dubber</h3>
    <addDubber [dubber]="currentItem"></addDubber>
  </section>
</div>
