.weight--light {
  font-weight: 300;
}

.weight--regular {
  font-weight: 400;
}

.weight--medium {
  font-weight: 500;
}

.weight--bold {
  font-weight: 700;
}

.weight--black {
  font-weight: 900;
}
