// Margin top
@for $i from 0 through 16 {
  .mt-#{$i * 5} {
    margin-top: $i * 5px !important;
    // @include respond-to(max-width, $screen-sm-max) {
    //   margin-top: $i * 5px / 2 !important;
    // }
  }
}

// Margin bottom
@for $i from 0 through 16 {
  .mb-#{$i * 5} {
    margin-bottom: $i * 5px !important;
    // @include respond-to(max-width, $screen-sm-max) {
    //   margin-bottom: $i * 5px / 2 !important;
    // }
  }
}

// Margin both
@for $i from 0 through 16 {
  .mboth-#{$i * 5} {
    margin-top: $i * 5px !important;
    margin-bottom: $i * 5px !important;
    // @include respond-to(max-width, $screen-sm-max) {
    //   margin-top: $i * 5px / 2 !important;
    //   margin-bottom: $i * 5px / 2 !important;
    // }
  }
}
// end

// Margin all side
@for $i from 0 through 16 {
  .m-all-side-#{$i * 5} {
    margin: $i * 5px !important;
    // @include respond-to(max-width, $screen-sm-max) {
    //   margin: $i * 5px / 2 !important;
    // }
  }
}
// end


// Padding top
@for $i from 0 through 16 {
  .pt-#{$i * 5} {
    padding-top: $i * 5px !important;
    // @include respond-to(max-width, $screen-sm-max) {
    //   padding-top: $i * 5px / 2 !important;
    // }
  }
}

// Padding bottom
@for $i from 0 through 16 {
  .pb-#{$i * 5} {
    padding-bottom: $i * 5px !important;
    // @include respond-to(max-width, $screen-sm-max) {
    //   padding-bottom: $i * 5px / 2 !important;
    // }
  }
}

// Padding both
@for $i from 0 through 16 {
  .pboth-#{$i * 5} {
    padding-top: $i * 5px !important;
    padding-bottom: $i * 5px !important;
    // @include respond-to(max-width, $screen-sm-max) {
    //   padding-top: $i * 5px / 2 !important;
    //   padding-bottom: $i * 5px / 2 !important;
    // }
  }
}
// end

// Padding all side
@for $i from 0 through 16 {
  .p-all-side-#{$i * 5} {
    padding: $i * 5px !important;
    // @include respond-to(max-width, $screen-sm-max) {
    //   padding: $i * 5px / 2 !important;
    // }
  }
}
// end
