<form #addDubberForm="ngForm" (ngSubmit)="onSubmit(addDubberForm)">
  <div class="form-group">
    <label for="name">Name</label>
    <input *ngIf="dubber; else elseBlockName" id="name" type="text" class="form-control" placeholder="Name" [(ngModel)]="dubber.name" name="name">
    <ng-template #elseBlockName>
      <input id="name" type="text" class="form-control" placeholder="Name" ngModel name="name">
    </ng-template>
  </div>
  <div class="form-group">
    <label for="surname">Surname</label>
    <input *ngIf="dubber; else elseBlockSurname" id="surname" type="text" class="form-control" placeholder="Surname" name="surname" [(ngModel)]="dubber.surname">
    <ng-template #elseBlockSurname>
      <input id="surname" type="text" class="form-control" placeholder="Surname" ngModel name="surname">
    </ng-template>
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input *ngIf="dubber; else elseBlockAge" id="age" type="text" class="form-control" placeholder="Age" name="age" [(ngModel)]="dubber.age">
    <ng-template #elseBlockAge>
      <input id="age" type="text" class="form-control" placeholder="Age" name="age" ngModel>
    </ng-template>
  </div>
  <div class="form-group">
    <label for="gender">Gender</label>
    <select class="form-control" id="gender" name="gender" ngModel>
       <option value="F">F</option>
       <option value="M">M</option>
     </select>
  </div>
   <div class="form-group">
     <label for="photo">Photo</label>
     <input *ngIf="dubber; else elseBlockPhoto" id="photo" type="text" class="form-control" placeholder="Photo" name="photo" [(ngModel)]="dubber.photo">
     <ng-template #elseBlockPhoto>
       <input id="photo" type="text" class="form-control" placeholder="Photo" name="photo" ngModel>
     </ng-template>
   </div>
   <div class="form-group">
     <label for="nationality">Nationality</label>
     <select *ngIf="dubber; else elseBlockNationality" [(ngModel)]="dubber.nationality" name="nationality" class="form-control">
        <option *ngFor="let n of nationality" value="{{n}}">{{n}}</option>
      </select>
      <ng-template #elseBlockNationality>
        <select ngModel name="nationality" class="form-control">
           <option value="0" disabled selected>Select your option</option>
           <option *ngFor="let n of nationality" value="{{n}}">{{n}}</option>
        </select>
      </ng-template>
   </div>
   <div class="form-group">
     <button type="submit" class="btn btn-success" *ngIf="dubber; else addDubber">Save dubber</button>
     <ng-template #addDubber>
       <button type="submit" class="btn btn-success">Add dubber</button>
     </ng-template>
   </div>
</form>
