<div class="container">
  <table border="1" cellpadding="5" class="table">
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Age</th>
      <th>Sex</th>
      <th>nationality</th>
      <th>Profile</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let user of userService.usersList">
      <td><img src="{{user.photo}}" width="40" height="40"></td>
      <td>{{user.name}}</td>
      <td>{{user.surname}}</td>
      <td>{{user.age}}</td>
      <td>{{user.gender}}</td>
      <td>{{user.nationality}}</td>
      <td>
        <a [routerLink]="['/userProfile', user.id]">
          View Profile
        </a>
      </td>
      <td>
        <button>Modify</button>
      </td>
      <td>
        <button (click)="onDelete(user)">Delete</button>
      </td>
    </tr>
  </table>
  <section>
    <h3 class="text-center">Add User</h3>
     <form #addUserForm="ngForm" (ngSubmit)="onSubmit(addUserForm)">
       <div class="form-group">
         <label for="name">Name</label>
         <input id="name" type="text" class="form-control" placeholder="Name" ngModel name="name">
       </div>
       <div class="form-group">
         <label for="surname">Surname</label>
         <input id="surname" type="text" class="form-control" placeholder="Surname" name="surname" ngModel>
       </div>
       <div class="form-group">
         <label for="age">Age</label>
         <input id="age" type="text" class="form-control" placeholder="Age" name="age" ngModel>
       </div>
       <div class="form-group">
         <label for="gender">Gender</label>
         <select class="form-control" id="gender" name="gender" ngModel>
            <option value="F">F</option>
            <option value="M">M</option>
          </select>
       </div>
        <div class="form-group">
          <label for="photo">Photo</label>
          <input id="photo" type="text" class="form-control" placeholder="Photo" name="photo" ngModel>
        </div>
        <div class="form-group">
          <label for="nationality">Nationality</label>
          <input id="nationality" type="text" class="form-control" placeholder="Nationality" name="nationality" ngModel>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Add User</button>
        </div>
    </form>
  </section>
</div>
