<div>
  <table border="1" cellpadding="5">
    <tr>
      <th>User ID</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Profile</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let user of usersList">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.surname}}</td>
      <td>
        <a [routerLink]="['/userProfile', user.id]">
          View Profile
        </a>
      </td>
      <td>
        <button>Modify</button>
      </td>
      <td>
        <button (click)="deleteUser(user)">Delete</button>
      </td>
    </tr>
  </table>
  <fieldset>
    <input #name placeholder="name">
    <input #surname placeholder="surname">
    <button (click)="addUser(name.value, surname.value)">Add</button>
  </fieldset>
</div>
