<div class="container" *ngIf="invoice">
  <section class="invoice bg--white mb-40" id="invoice">
    <div>
      <p class="text-capitalize mb-0 font-weight-bold">
        {{invoice.dubber.name}} {{invoice.dubber.surname}}
      </p>
      <p class=" mb-0">
        <ng-container *ngIf="invoice.dubber.gender == 'male'; else female">Nato</ng-container>
        <ng-template #female>Nata</ng-template> a
        <span class="text-capitalize">{{invoice.dubber.birth_place}}</span> il {{invoice.dubber.birth_date}}
      </p>
      <p class=" mb-0">
        Residente a <span class="text-capitalize">{{invoice.dubber.residence_place}}, {{invoice.dubber.residence_address}}, {{invoice.dubber.residence_country}}</span>
      </p>
      <p class=" mb-0">
        Codice fiscale <span class="text-uppercase">{{invoice.dubber.fiscal_code}}</span>
      </p>
    </div>
    <div class="text-right">
      <p class=" mb-0">
        Spett.le <span class="font-weight-bold">{{invoice.company.name}}</span>
      </p>
      <p class=" mb-0">
        {{invoice.company.address}}
      </p>
      <p class=" mb-0">
        P.I. {{invoice.company.vat}}
      </p>
    </div>
    <div>
      <p class="mb-30">Nota n° <span class="font-weight-bold">{{invoice.id}}</span></p>
      <p class="mb-30">Compenso per prestazione d'opera relativa al doppiaggio del film "<strong>{{invoice.film}}</strong>"</p>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>Compenso lordo</td>
            <td class="text-right">{{invoice.gross}} Euro</td>
          </tr>
          <tr>
            <td>Ritenuta d'acconto del {{invoice.tax_percetual}}%</td>
            <td class="text-right">{{invoice.tax_euro}} Euro</td>
          </tr>
          <tr>
            <td>Compenso netto</td>
            <td class="text-right">{{invoice.net}} Euro</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="small mboth-40">Trattasi di prestazione di lavoro autonomo ai sensi dell’art. 2222 cod. civ. non esercitato abitualmente. Operazione fuori campo IVA ai sensi dell’art. 5 D.P.R. 633/72 e successive modifiche.</p>
    <div class="row">
      <div class="col">Milano {{invoice.creation_date}}</div>
      <div class="col text-right">Firma</div>
    </div>
  </section>
  <div class="row">
    <div class="col">
      <back-button></back-button>
    </div>
    <div class="col text-right">
      <button class="btn btn-success" (click)="generatedPDF()">Genera PDF</button>
    </div>
  </div>
</div>
