<div class="container">
  <nav class="clearfix mb-3">
    <div class="float-left">
      <h3 class="section-title">Accounts list</h3>
      <p class="mb-0">This is the list of accounts</p>
    </div>
    <div class="align-middle float-right">
      <a [routerLink]="['/accounts/new']" class="btn btn-outline-success">Add Account</a>
    </div>
  </nav>
  <section class="itemsList">
    <div class="itemsList__header row">
      <!-- <div class="col"></div> -->
      <div class="col text-uppercase">Name</div>
      <div class="col text-uppercase">Surname</div>
      <!-- <div class="col"></div> -->
    </div>
    <div class="itemsList__body">
      <div class="itemsList__body-row row" *ngFor="let account of accountService.accountsList">
        <div class="col pt-20 text-capitalize">
          {{account.name}}
        </div>
        <div class="col pt-20">
          {{account.surname}}
        </div>
        <div class="col text-right">
          <!-- <a [routerLink]="['/dubberProfile', dubber.id]" class="btn btn-outline-primary">
            <i class="fa fa-info" aria-hidden="true"></i>
          </a>
          <a [routerLink]="['/dubberProfile', dubber.id]" class="btn btn-outline-warning">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </a> -->
          <button (click)="onDelete(account)" class="btn btn-outline-danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
