.nav {
  &-tabs {
    @include border(2px, rgba(255,255,255,.08), bottom);
    //border-bottom: 2px solid rgba(255,255,255,.08);
    .nav-link {
      color: rgba(255,255,255,.7);
      border: 0;
      @include transition(color .3s);
      &:hover {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-color: #e9ecef #e9ecef rgba(255,255,255,.08)!important;
        color: white;
      }
      &.active {
        background-color: transparent!important;
        @include border(2px, #ddd!important, bottom);
        //border-bottom: 2px solid #ddd!important;
        color: white!important;
        border-top: 0;
        border-left: 0;
        border-right: 0;
      }
    }
  }
  &-item {
    margin-bottom: -2px!important;
  }
}
