<div class="container">
  <h2 class="text-center">Film List</h2>
  <table border="1" cellpadding="5" class="table">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let film of filmService.filmsList">
      <td>{{film.title}}</td>
      <td>{{film.description | slice:0:60}}...</td>
      <td>
        <a [routerLink]="['/film', film.id]">
          View details
        </a>
      </td>
      <td>
        <button (click)="getSingleItem(film)">Modify</button>
      </td>
      <td>
        <button (click)="onDelete(film)">Delete</button>
      </td>
    </tr>
  </table>
  <section>
    <h3 class="text-center">Add Film</h3>
    <addFilm [film]="currentItem"></addFilm>
  </section>
</div>
