<div class="container">
  <nav class="clearfix mb-3">
    <div class="float-left">
      <h3 class="section-title">Film list</h3>
      <p class="mb-0">This is the list of dubbers registered with dubbers.com</p>
    </div>
    <div class="align-middle float-right">
      <a [routerLink]="['/film/add']" class="btn btn-outline-success">Add Film</a>
    </div>
  </nav>
  <section class="itemsList">
    <div class="itemsList__header row">
      <div class="col text-uppercase">Title</div>
      <div class="col text-uppercase">Description</div>
      <div class="col"></div>
    </div>
    <div class="itemsList__body">
      <div class="itemsList__body-row row" *ngFor="let film of films">
        <div class="col pt-20">
          {{film.title}}
        </div>
        <div class="col pt-20">
          {{film.description | slice:0:60}}...
        </div>
        <div class="col text-right">
          <a [routerLink]="['/film', film.id]" class="btn btn-outline-primary">
            <i class="fa fa-info" aria-hidden="true"></i>
          </a>
          <a [routerLink]="['/film', film.id]" class="btn btn-outline-warning">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </a>
          <button (click)="delete(film)" class="btn btn-outline-danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </section>
  <paginator (pagedItems)="dataset($event)" [DBtable]="DBTable"></paginator>
</div>
