@mixin spaces($padding, $margin){
  padding: $padding;
  margin: $margin;
}

@mixin border($size, $color, $side: nil, $type: solid){
  @if ($side == 'nil') {
    border: $size $type $color;
  } @else {
    border-#{$side}: $size $type $color;
  }
}

@mixin radius($size) {
  width: $size;
  height: $size;
  line-height: $size;
  border-radius: 50%;
  text-align: center;
}

@mixin size($width, $height){
  width: $width;
  height: $height;
}

@mixin font-style($size, $color, $weight: 300){
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

@mixin bg-size($size: cover){
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

@mixin position($x, $Xval, $y, $Yval, $type: absolute){
  position: $type;
  #{$x}: $Xval;
  #{$y}: $Yval;
}

@mixin respond-to($type, $query){
  @media($type: $query){
    @content;
  }
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin placeholder($color: $input-color-placeholder) {
  // Firefox
  &::-moz-placeholder {
    color: $color;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  &:-ms-input-placeholder { color: $color; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: $color; } // Safari and Chrome
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
          box-shadow: $shadow;
}

@mixin flex-align($x) {
  -webkit-box-align: $x;
  -ms-flex-align: $x;
  align-items: $x;
}

@mixin flex-direction() {
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@mixin flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin animation($args...) {
  -webkit-animation: $args; /* Safari 4.0 - 8.0 */
  animation: $args;
}
