<div class="container">
  <alertMessage [message]="alert_message" *ngIf="alert_message"></alertMessage>
  <h3 class="mb-20 mt-0 weight--light">Aggiungi nuova azienda</h3>
  <form name="form" (ngSubmit)="f.form.valid && create(f)" #f="ngForm" novalidate class="form--light bg-light p-all-side-20">
    <div class="form-group" [ngClass]="{
      'has-danger': name.invalid && (name.dirty || name.touched),
      'has-success': name.valid && (name.dirty || name.touched)
    }">
      <label for="name">Nome Azienda </label> <span *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">* Campo non valido</span>
      <input id="name" type="text" class="form-control black text-capitalize" placeholder="Company name" ngModel name="name" #name="ngModel" required>
    </div>
    <div class="form-group" [ngClass]="{
      'has-danger': vat.invalid && (vat.dirty || vat.touched),
      'has-success': vat.valid && (vat.dirty || vat.touched)
    }">
      <label for="vat">Partita IVA </label> <span *ngIf="vat.invalid && (vat.dirty || vat.touched)" class="text-danger">* Campo non valido</span>
      <input id="vat" type="text" class="form-control black" placeholder="vat" ngModel name="vat" #vat="ngModel" required pattern="^[0-9]{11}$">
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group" [ngClass]="{
          'has-danger': city.invalid && (city.dirty || city.touched),
          'has-success': city.valid && (city.dirty || city.touched)
        }">
          <label for="city">Città </label> <span *ngIf="city.invalid && (city.dirty || city.touched)" class="text-danger">* Campo non valido</span>
          <input id="city" type="text" class="form-control black text-capitalize" placeholder="Città" ngModel name="city" #city="ngModel" required>
        </div>
      </div>
      <div class="col">
        <div class="form-group" [ngClass]="{
          'has-danger': address.invalid && (address.dirty || address.touched),
          'has-success': address.valid && (address.dirty || address.touched)
        }">
          <label for="address">Indirizzo </label> <span *ngIf="address.invalid && (address.dirty || address.touched)" class="text-danger">* Campo non valido</span>
          <input id="address" type="text" class="form-control black text-capitalize" placeholder="Indirizzo" ngModel name="address" #address="ngModel" required>
        </div>
      </div>
      <div class="col">
        <div class="form-group" [ngClass]="{
          'has-danger': postcode.invalid && (postcode.dirty || postcode.touched),
          'has-success': postcode.valid && (postcode.dirty || postcode.touched)
        }">
          <label for="postcode">Cap </label>  <span *ngIf="postcode.invalid && (postcode.dirty || postcode.touched)" class="text-danger">* Campo non valido</span>
          <input id="postcode" type="text" class="form-control black text-capitalize" placeholder="Cap" ngModel name="postcode" #postcode="ngModel" required>
        </div>
      </div>
    </div>
    <div class="row mt-30">
      <div class="col-sm-6">
        <back-button></back-button>
      </div>
      <div class="col-sm-6 text-right">
        <button type="submit" class="btn btn-outline-success" [disabled]="f.invalid">Crea</button>
      </div>
    </div>
  </form>
</div>
