<div class="container">
  <form #newAccountForm="ngForm" (ngSubmit)="onSubmit(newAccountForm)">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" placeholder="Name" name="name" ngModel #name="ngModel">
    </div>
    <div class="form-group">
      <label for="surname">Surname</label>
      <input type="text" class="form-control" placeholder="Surname" name="surname" ngModel #surname="ngModel">
    </div>
    <div class="form-group">
      <label for="surname">Email</label>
      <input type="email" class="form-control" placeholder="Email" name="email" ngModel #email="ngModel">
    </div>
    <div class="form-group">
      <label for="surname">Type of user</label>
      <select name="typeAccount" class="form-control" ngModel>
        <option value="0">Administrator</option>
        <option value="1">Simple user</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Add Account</button>
  </form>
</div>
