<form name="form" (ngSubmit)="f.form.valid && upDate()" #f="ngForm" novalidate class="form--light bg-light p-all-side-20">
  <fieldset class="pl-0 pr-0">
    <legend>Informazioni personali:</legend>
    <div class="form-row">
      <div class="col-sm-5 mb-3">
        <label for="name">Nome</label>
        <input type="text" id="name" class="form-control black text-capitalize" placeholder="First name" [(ngModel)]="dubber.name" name="name" #name="ngModel" required>
        <div *ngIf="f.submitted && !name.valid" class="is-invalid">Campo errato</div>
      </div>
      <div class="col-sm-5 mb-3">
        <label for="surname">Cognome</label>
        <input type="text" id="surname" class="form-control black text-capitalize" placeholder="Last name" [(ngModel)]="dubber.surname" name="surname" #surname="ngModel" required>
        <div *ngIf="f.submitted && !surname.valid" class="is-invalid">Campo errato</div>
      </div>
      <div class="col-sm-2 mb-3">
        <label for="gender">Sesso</label>
        <select class="form-control black" name="gender" [(ngModel)]="dubber.gender" #gender="ngModel" required>
          <option value="F">Femmina</option>
          <option value="M">Maschio</option>
        </select>
      </div>
      <div class="col-sm-6 mb-3">
        <label for="fiscal_code">Codice fiscale</label>
        <input type="text" id="fiscal_code" class="form-control black text-uppercase" placeholder="Fiscal Code" [(ngModel)]="dubber.fiscal_code" name="fiscal_code" #fiscal_code="ngModel" pattern="^[a-zA-Z]{6}[0-9]{2}[a-zA-Z][0-9]{2}[a-zA-Z][0-9]{3}[a-zA-Z]$" required>
        <div *ngIf="f.submitted && !fiscal_code.valid" class="is-invalid">Campo errato</div>
      </div>
      <div class="col-sm-6 mb-3">
        <label for="nationality">Nazionalità</label>
        <select id="nationality" class="form-control black text-capitalize" [(ngModel)]="dubber.nationality" name="nationality" #nationality="ngModel">
          <option [value]="null" selected disabled>Seleziona categoria</option>
          <option *ngFor="let nationality of nationalities" [value]="nationality.nationality">
            {{nationality.nationality}}
          </option>
        </select>
      </div>
      <div class="col-sm-4 mb-3">
        <label for="birth_date">Data di nascita</label>
        <input type="date" id="birth_date" class="form-control black" placeholder="DD/MM/YYYY" [(ngModel)]="dubber.birth_date" name="birth_date" #birth_date="ngModel" required>
        <div *ngIf="f.submitted && !birth_date.valid" class="is-invalid">Campo errato</div>
      </div>
      <div class="col-sm-4 mb-3">
        <label for="birth_place">Luogo di nascita</label>
        <input type="text" id="birth_place" class="form-control black text-capitalize" placeholder="Città" [(ngModel)]="dubber.birth_place" name="birth_place" #birth_place="ngModel" required>
        <div *ngIf="f.submitted && !birth_place.valid" class="is-invalid">Campo errato</div>
      </div>
      <div class="col-sm-4 mb-3">
        <label for="birth_province">Provincia di nascita</label>
        <input type="text" id="birth_province" class="form-control black text-capitalize" placeholder="Provincia" [(ngModel)]="dubber.birth_province" name="birth_province" #birth_province="ngModel" required>
        <div *ngIf="f.submitted && !birth_province.valid" class="is-invalid">Campo errato</div>
      </div>
    </div>
  </fieldset>
  <fieldset class="pl-0 pr-0">
    <legend>Qualifica:</legend>
    <div class="form-group">
      <select id="qualification" class="form-control black" [(ngModel)]="dubber.qualification" name="qualification" #qualification="ngModel">
        <option [value]="null" selected disabled>Seleziona categoria</option>
        <option *ngFor="let qualification of qualifications" [value]="qualification.code">
          {{qualification.description}}
        </option>
      </select>
    </div>
  </fieldset>
  <fieldset class="pl-0 pr-0">
    <legend>Partita Iva:</legend>
    <div class="form-group">
      <input id="vat" type="text" class="form-control black text-capitalize" placeholder="Codice" [(ngModel)]="dubber.vat" name="vat" #vat="ngModel" required>
      <div *ngIf="f.submitted && !vat.valid" class="is-invalid">Campo errato</div>
    </div>
  </fieldset>
  <fieldset class="pl-0 pr-0">
    <legend>Contatti:</legend>
    <div class="form-row">
      <div class="col-sm-4 mb-3">
        <div class="form-group">
          <label>Email</label>
          <input id="email" type="email" class="form-control black" placeholder="Email" [(ngModel)]="dubber.email" name="email" #email="ngModel" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
          <div *ngIf="f.submitted && !email.valid" class="is-invalid">Campo errato</div>
        </div>
      </div>
      <div class="col-sm-4 mb-3">
        <div class="form-group">
          <label>Telefono</label>
          <input id="phone" type="phone" class="form-control black" placeholder="Telefono" [(ngModel)]="dubber.phone" name="phone" #phone="ngModel" required pattern="[0-9]+">
          <div *ngIf="f.submitted && !phone.valid" class="is-invalid">Campo errato</div>
        </div>
      </div>
      <div class="col-sm-4 mb-3">
        <div class="form-group">
          <label for="mobile_phone">Cellulare</label>
          <input type="phone" id="mobile_phone" class="form-control black" placeholder="Cellulare" [(ngModel)]="dubber.mobile_phone" name="mobile_phone" required #mobile_phone="ngModel" pattern="[0-9]+">
          <div *ngIf="f.submitted && !mobile_phone.valid" class="is-invalid">Campo errato</div>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="row mt-30 mb-20">
    <div class="col">
      <back-button></back-button>
    </div>
    <div class="col text-right">
      <button type="submit" class="btn btn-outline-success">Salva modifiche</button>
    </div>
  </div>
</form>
