<div class="container" *ngIf="invoice">
  <section class="invoice bg-white mb-40" id="invoice">
    <div>
      <p class="text-capitalize mb-0 font-weight-bold">
        {{invoice.dubber.name}} {{invoice.dubber.surname}}
      </p>
      <p class="mb-0">
        <ng-container *ngIf="invoice.dubber.gender == 'M'; else female">Nato</ng-container>
        <ng-template #female>Nata</ng-template> a
        <span class="text-capitalize">{{invoice.dubber.birth_place}}</span> il {{invoice.dubber.birth_date}}
      </p>
      <p class=" mb-0">
        Residente a <span class="text-capitalize">{{address.residence_city}}, {{address.residence_address}}, {{address.residence_postcode}}</span>
      </p>
      <p class="mb-0" *ngIf="invoice.dubber.vat != 0">
        P.Iva <span class="text-uppercase">{{invoice.dubber.vat}}</span>
      </p>
      <p class="mb-0">
        C.F. <span class="text-uppercase">{{invoice.dubber.fiscal_code}}</span>
      </p>
      <p class="mb-0">
        Enpals <span class="text-uppercase">{{enpals_categories.matricola_enpals}}</span>
      </p>
    </div>
    <div class="text-right">
      <p class=" mb-0">
        Spett.le <span class="font-weight-bold">{{invoice.company.name}}</span>
      </p>
      <p class="mb-0">
        {{invoice.company.address}}
      </p>
      <p class="mb-0">
        C.F. e P.IVA {{invoice.company.vat}}
      </p>
    </div>
    <div class="mb-40">
      <p class="mb-30">
        FATTURA N. <span class="font-weight-bold">{{invoice.id}}</span><br>
        Per prestazione d'opera del film "<strong>{{invoice.film}}</strong>"
        PER GG. DI LAVORAZIONE: <span class="font-weight-bold">{{invoice.number_of_days}}</span>
      </p>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>Imponibile</td>
            <td class="text-right">{{invoice.amount}} €</td>
          </tr>
          <tr *ngIf="invoice.dubber.vat != 0; else noVat">
            <td>Iva 22%</td>
            <td class="text-right">{{invoice.vat}} €</td>
          </tr>
          <ng-template #noVat>
            <tr>
              <td>Iva</td>
              <td class="text-right">0,00 €</td>
            </tr>
          </ng-template>
          <tr>
            <td>Compenso totale</td>
            <td class="text-right">{{invoice.total_amount}} €</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered mt-30">
        <tbody>
          <tr>
            <td>Tratt. Pens.</td>
            <td class="text-right">{{invoice.enpals_data.trattenuta_pensione}} €</td>
          </tr>
          <tr *ngIf="enpals_categories.trattenuta_sindacale">
            <td>Tratt. Sind.</td>
            <td class="text-right">{{invoice.trattenuta_sindacale}} €</td>
          </tr>
          <tr>
            <td>Enpals</td>
            <td class="text-right">{{invoice.total_enpals}} €</td>
          </tr>
          <tr *ngIf="enpals_categories.ritenuta_acconto == 1">
            <td>Ritenuta acconto</td>
            <td class="text-right">{{invoice.total_deductions}} €</td>
          </tr>
          <tr>
            <td>Aliquota aggiuntiva</td>
            <td class="text-right">{{invoice.enpals_data.additional_rate}} €</td>
          </tr>
          <tr>
            <td>Totale</td>
            <td class="text-right">{{invoice.total_deductions}} €</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered mt-30">
        <tr>
          <td>Netto a pagare</td>
          <td class="text-right">{{invoice.total_net}}</td>
        </tr>
      </table>
    </div>
    <div *ngIf="enpals_categories.forfettone == 1" class="mb-50">
      <p class="small">
        Operazione effettuata ai sensi dell'articolo 27 commi 1  e 2 D.L. 6 luglio 2011 n. 98.
      </p>
      <p class="small">
        Imposta di bollo assolta ai sensi dell’art. 13 della Tariffa allegata al DPR 26.10.72 n. 642.
      </p>
      <p class="small">
        Prestazione non soggetta a ritenuta d’acconto ai sensi del comma 5.2 del Provvedimento Agenzia delle entrate del 22.12.2011 n. 185820.
      </p>
    </div>
    <div *ngIf="enpals_categories.forfettone == 2" class="mb-50">
      <p class="small">
        Operazione soggetta a regime forfettario ex art. 1 comma 58 L. 190/14
      </p>
      <p class="small">
        Imposta di bollo assolta ai sensi dell'art. 13 della Tariffa allegata al DPR 26.10.72 n. 642.
      </p>
      <p class="small">
        Prestazione non soggetta a ritenuta d'acconto ex art. 1 comma 67 Legge 190/14
      </p>
    </div>
    <div class="row">
      <div class="col">Milano {{invoice.creation_date}}</div>
      <div class="col text-right">Firma</div>
    </div>
  </section>
  <div class="row">
    <div class="col">
      <back-button></back-button>
    </div>
    <div class="col text-right">
      <button class="btn btn-success" (click)="generatedPDF()">Genera PDF</button>
    </div>
  </div>
</div>
