<h4 class="mb-20">Aggiungi doppiatore</h4>
<form #form="ngForm" (ngSubmit)="addDubberSelected(form)" class="form--light bg-light p-all-side-20">
  <div class="form-group">
    <label for="exampleFormControlSelect2">Lista doppiatori</label>
    <select name="dubber" class="form-control text-capitalize" ngModel>
      <option *ngFor="let dubber of dubbers" value="{{dubber.id}};{{dubber.name}};{{dubber.surname}}">
        {{dubber.name}} {{dubber.surname}}
      </option>
    </select>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <back-button></back-button>
    </div>
    <div class="col-sm-6 text-right">
      <button type="submit" class="btn btn-outline-success">Aggiungi</button>
    </div>
  </div>
</form>
