<div class="container" *ngIf="invoiceService.invoice">
  <section class="invoice bg--white p-all-side-40 mb-40" id="invoice">
    <div>
      <p class="text-capitalize mb-0 font-weight-bold">
        {{invoiceService.invoice.dubberLinked.name}} {{invoiceService.invoice.dubberLinked.surname}}
      </p>
      <p class=" mb-0">Nata a <span class="text-capitalize">
        {{invoiceService.invoice.dubberLinked.birthplace}}</span> il {{invoiceService.invoice.dubberLinked.birthdate}}
      </p>
      <p class=" mb-0">Residente a <span class="text-capitalize">
        {{invoiceService.invoice.dubberLinked.birthplace}}</span>
      </p>
      <p class=" mb-0">
        Codice fiscale <span class="text-uppercase">{{invoiceService.invoice.dubberLinked.fiscalCode}}</span>
      </p>
    </div>
    <div class="text-right">
      <p class=" mb-0">
        Spett.le <span class="font-weight-bold">Contactlab</span>
      </p>
      <p class=" mb-0">
        Via Natale Battaglia 24
      </p>
      <p class=" mb-0">
        P.I. 546679546795766473
      </p>
    </div>
    <div>
      <p class="mb-30">Nota n° <span class="text-uppercase">{{invoiceService.invoice.id}}</span></p>
      <p class="mb-30">Compenso per prestazione d'opera relativa al doppiaggio del film <strong>{{invoiceService.invoice.movie}}</strong></p>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Compenso lordo Euro</th>
            <td>{{invoiceService.invoice.grossCompensation}} Euro</td>
          </tr>
          <tr>
            <th scope="row">Ritenuta d'acconto del {{invoiceService.invoice.taxPercetual}} % Euro</th>
            <td>{{invoiceService.invoice.taxEuro}} Euro</td>
          </tr>
          <tr>
            <th scope="row">Compenso netto Euro</th>
            <td>{{invoiceService.invoice.netCompensation}} Euro</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="small mboth-40">Trattasi di prestazione di lavoro autonomo ai sensi dell’art. 2222 cod. civ. non esercitato abitualmente. Operazione fuori campo IVA ai sensi dell’art. 5 D.P.R. 633/72 e successive modifiche.</p>
    <div class="row">
      <div class="col">Milano {{invoiceService.invoice.creationDate}}</div>
      <div class="col text-right">Firma</div>
    </div>
  </section>
  <div class="text-center mb-80">
    <button class="btn btn-success" (click)="generatedPDF()">Genera PDF</button>
  </div>
</div>
