<td>{{current_data.title}}</td>
<td>{{current_data.description | slice:0:50}}...</td>
<td>{{current_data.date}} {{current_data.time}}</td>
<td class="text-right">
  <div class="d-inline-block pr-3" *ngIf="missing_days > 1 || missing_days == 0">
    <i class="fa fa-clock-o" aria-hidden="true"></i> <span>{{missing_days}} giorni mancanti</span>
  </div>
  <div class="d-inline-block pr-3" *ngIf="missing_days == 1">
    <i class="fa fa-clock-o" aria-hidden="true"></i> <span>{{missing_days}} giorno mancante</span>
  </div>
  <button (click)="passDataToParent(current_data, '')" class="btn btn--dark" data-toggle="modal" data-target="#todo_details" title="Info">
    <i class="fa fa-info" aria-hidden="true"></i>
  </button>
  <!-- <a [routerLink]="['/todo', current_data.id]" class="btn btn--dark" title="Modifica">
    <i class="fa fa-pencil" aria-hidden="true"></i>
  </a> -->
  <button (click)="passDataToParent('delete')" class="btn btn--dark" data-toggle="modal" data-target="#exampleModal" title="Elimina">
    <i class="fa fa-trash" aria-hidden="true"></i>
  </button>
</td>
