<div class="container" *ngIf="dubberService.dubber">
  <div class="row">
    <div class="col-sm-2">
      <figure>
        <img src="/assets/images/default-user-image.png" alt="The Pulpit Rock" class="img-fluid img-thumbnail">
        <h5 class="mt-10 text-capitalize">{{dubberService.dubber.name}} {{dubberService.dubber.surname}}</h5>
      </figure>
    </div>
    <div class="col-sm-10">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#personal-data" role="tab">Personal data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#collaborations" role="tab">Collaborations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#invoices" role="tab">Invoices</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content pboth-15">
        <div class="tab-pane active" id="personal-data" role="tabpanel">
          <form #UpdateDubberForm="ngForm" (ngSubmit)="upDateParsonalDate(UpdateDubberForm)">
            <div class="form-row">
              <div class="col-sm-6 mb-3">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" placeholder="First name" [(ngModel)]="dubberService.dubber.name" name="name">
              </div>
              <div class="col-sm-6 mb-3">
                <label for="surname">Surname</label>
                <input type="text" id="surname" class="form-control" placeholder="Last name" [(ngModel)]="dubberService.dubber.surname" name="surname">
              </div>
              <div class="col-sm-6 mb-3">
                <label for="name">Date of birth</label>
                <input type="text" id="birthdate" class="form-control" placeholder="DD/MM/YYYY" [(ngModel)]="dubberService.dubber.birthdate" name="birthdate">
              </div>
              <div class="col-sm-6 mb-3">
                <label for="name">Place of birth</label>
                <input type="text" id="birthplace" class="form-control" placeholder="Place of birth" [(ngModel)]="dubberService.dubber.birthplace" name="birthplace">
              </div>
              <div class="col-sm-6 mb-3">
                <label for="name">County of birth</label>
                <input type="text" id="birthcounty" class="form-control" placeholder="County of birth" [(ngModel)]="dubberService.dubber.birthcounty" name="birthcounty">
              </div>
              <div class="col-sm-6 mb-3">
                <label for="name">Fiscal Code</label>
                <input type="text" id="fiscalCode" class="form-control" placeholder="Fiscal Code" [(ngModel)]="dubberService.dubber.fiscalCode" name="fiscalCode">
              </div>
            </div>
            <div class="mboth-30">
              <h4>Contacts</h4>
              <div class="form-row">
                <div class="col-sm-6 mb-3">
                  <label for="email">Email</label>
                  <input type="email" id="email" class="form-control" placeholder="Email" [(ngModel)]="dubberService.dubber.email" name="email">
                </div>
                <div class="col-sm-6 mb-3">
                  <label for="phone">Phone</label>
                  <input type="phone" id="phone" class="form-control" placeholder="Phone" [(ngModel)]="dubberService.dubber.phone" name="phone">
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-success">Update dubber</button>
          </form>
        </div>
        <div class="tab-pane" id="collaborations" role="tabpanel">
          <section class="itemsList" *ngIf="dubberService.dubber.film.length; else noFilm">
            <div class="itemsList__body">
              <div class="itemsList__body-row row"  *ngFor="let dubberFilm of dubberService.dubber.film">
                <div class="col pt-20">
                  {{dubberFilm.title}}
                </div>
                <div class="col text-right">
                  <a [routerLink]="['/film', dubberFilm.id]" class="btn btn-outline-primary">
                    <i class="fa fa-info" aria-hidden="true"></i>
                  </a>
                  <button (click)="deleteFilm(dubberFilm.id)" class="btn btn-outline-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </section>
          <ng-template #noFilm>
            <p class="alert alert-warning">There aren't associated films</p>
          </ng-template>
        </div>
        <div class="tab-pane" id="invoices" role="tabpanel">
          <section class="itemsList">
            <div class="itemsList__body">
              <div class="itemsList__body-row row" *ngFor="let invoice of dubberService.dubber.invoices">
                <div class="col pt-20">
                  Compenso per prestazione d'opera relativa al film <strong>{{invoice.movie}}</strong>
                </div>
                <div class="col text-right">
                  <!-- <a [routerLink]="['/dubberProfile', dubber.id]" class="btn btn-outline-primary">
                    <i class="fa fa-info" aria-hidden="true"></i>
                  </a> -->
                  <a href="" class="btn btn-outline-success">
                    <i class="fa fa-download"></i>
                  </a>
                  <button (click)="deleteInvoice(invoice.id)" class="btn btn-outline-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </section>
          <form #InvoiceForm="ngForm" (ngSubmit)="generateInvoice(InvoiceForm)">
            <div class="form-group">
              <label for="movie">Select movie</label>
              <select name="movie" class="form-control" ngModel>
                <option *ngFor="let movie of dubberService.dubber.film" value="{{movie.title}}">
                  {{movie.title}}
                </option>
                <option disabled *ngIf="!dubberService.dubber.film.length">
                  There aren't associated movies
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="grossCompensation">Gross compensation</label>
              <input id="grossCompensation" type="text" class="form-control" placeholder="Gross compensation" ngModel name="grossCompensation" #grossCompensation="ngModel" required>
            </div>
            <div class="form-group">
              <label for="taxPercetual">Ritenuta d'acconto del</label>
              <select name="taxPercetual" class="form-control" ngModel>
                <option value="20">20%</option>
                <option value="40">40%</option>
                <option value="50">50%</option>
              </select>
            </div>
            <div class="form-group">
              <label for="netCompensation">Net compensation</label>
              <input class="form-control" value="{{netCompensation}}" disabled>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!InvoiceForm.valid">Generate invoice</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
