<div class="container">
  <alertMessage [message]="alertMessage" *ngIf="alertMessage"></alertMessage>
  <modalPrompt [message]="modalMessage" (confirm)="setConfirm($event)"></modalPrompt>
  <nav class="row mb-3">
    <div class="col">
      <search-form [setDataForRequest]="dataForRequestSearchComp" (results)="setFoundValueFromSearch($event)"></search-form>
    </div>
    <div class="col text-right">
      <a [routerLink]="['/settings/company/add']" class="btn btn--light">Aggiungi Azienda</a>
    </div>
  </nav>
  <div class="generalCard card mb-4">
    <div class="generalCard__body">
      <table class="table table--striped">
        <thead class="thead--dark">
          <tr>
            <th>Nome</th>
            <th>Partita Iva</th>
            <th>Indirizzo</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let company of companies">
            <td>{{company.name}}</td>
            <td>{{company.vat}}</td>
            <td>{{company.address}}</td>
            <td class="text-right">
              <a [routerLink]="['/settings/company', company.id]" class="btn btn--dark">
                <i class="fa fa-info" aria-hidden="true"></i>
              </a>
              <a [routerLink]="['/settings/company', company.id]" class="btn btn--dark">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
              <button (click)="passCurrentCompany(company)" class="btn btn--dark" data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <paginator (pagedItems)="datasetFromPaginator($event)" [DBtable]="DBTable"></paginator>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <back-button></back-button>
    </div>
    <div class="col text-right">
      <a [routerLink]="['/settings/company/add']" class="btn btn--light">Aggiungi Azienda</a>
    </div>
  </div>
</div>
