<div class="container">
  <alertMessage [message]="alert_message" *ngIf="alert_message"></alertMessage>
  <modalPrompt [message]="modal_message" (confirm)="setConfirm($event)"></modalPrompt>
  <nav class="row mb-3">
    <div class="col">
      <!-- <search-form [setDataForRequest]="dataForRequestSearchComp" (results)="setFoundValueFromSearch($event)"></search-form> -->
    </div>
    <div class="col text-right">
      <a [routerLink]="['/settings/company/add']" class="btn btn--light">Aggiungi Azienda</a>
    </div>
  </nav>
  <div class="general-card card mb-4">
    <div class="general-card__body">
      <table class="table table--striped">
        <thead class="thead--dark">
          <tr>
            <th>Nome</th>
            <th>Partita Iva</th>
            <th>Indirizzo</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="form--light">
          <tr [company]="company" *ngFor="let company of companies | paginate: { itemsPerPage: 10, currentPage: p }" (data)="getData($event)" (msg)="getMessage($event)" setting-company-row></tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <back-button></back-button>
    </div>
    <div class="col text-right">
      <a [routerLink]="['/settings/company/add']" class="btn btn--light">Aggiungi Azienda</a>
    </div>
  </div>
</div>
