<section class="mt-20 mb-20">
  <h5 class="mb-20">Residenza</h5>
  <div class="row">
    <div class="col-md-4 mb-3">
      <a href="" class="justify-content-center add-new-address-button text-center d-flex align-items-center">
        <div class="text-center">
          <p class="add-new-address-button__icon mb-0">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </p>
          <h4 class="add-new-address-button__text">Aggiungi Indirizzo</h4>
        </div>
      </a>
    </div>
    <div class="col-md-4 mb-3" *ngFor="let item of dubber.residence_addresses">
      <form #residenza="ngForm" novalidate class="form--light bg-light p-all-side-20 mb-15">
        <input type="hidden" [ngModel]="item.id" name="id">
        <!-- <input type="hidden" [ngModel]="address.dubber_id" name="dubber_id"> -->
        <div class="form-group">
          <label for="city">Città</label>
          <input id="city" type="text" class="form-control" placeholder="Città" [(ngModel)]="item.city" name="city" #city="ngModel" required>
          <div *ngIf="residenza.submitted && !city.valid" class="is-invalid">Campo errato</div>
        </div>
        <div class="form-group">
          <label for="address">Indirizzo</label>
          <input id="address" type="text" class="form-control" placeholder="Indirizzo" [(ngModel)]="item.address" name="address" #address="ngModel" required>
          <div *ngIf="residenza.submitted && !address.valid" class="is-invalid">Campo errato</div>
        </div>
        <div class="form-group">
          <label for="postcode">Cap</label>
          <input id="postcode" type="text" class="form-control" placeholder="Cap" [(ngModel)]="item.postcode" name="postcode" #postcode="ngModel" required>
          <div *ngIf="residenza.submitted && !postcode.valid" class="is-invalid">Campo errato</div>
        </div>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" (click)="update(residenza.value)" class="btn btn--dark">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button (click)="delete(item.id)" class="btn btn--dark">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
          <div class="btn-group" role="group" aria-label="Second group" *ngIf="address._default != true">
            <button (click)="asDefault(item)" class="btn btn-secondary">
              <i class="fa fa-check" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<section class="mb-20">
  <h5 class="mb-20">Domicilio</h5>
  <div class="row">
    <div class="col-md-4 mb-3">
      <a href="" class="justify-content-center add-new-address-button text-center d-flex align-items-center">
        <div class="text-center">
          <p class="add-new-address-button__icon mb-0">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </p>
          <h4 class="add-new-address-button__text">Aggiungi Indirizzo</h4>
        </div>
      </a>
    </div>
    <div class="col-md-4 mb-3" *ngFor="let item of dubber.home_addresses">
      <form #domicilio="ngForm" novalidate class="form--light bg-light p-all-side-20 mb-15">
        <input type="hidden" [ngModel]="item.id" name="id">
        <div class="form-group">
          <label for="city">Città</label>
          <input id="city" type="text" class="form-control text-capitalize" placeholder="Città" [(ngModel)]="item.city" name="city" #city="ngModel" required>
          <div *ngIf="domicilio.submitted && !city.valid" class="is-invalid">Campo errato</div>
        </div>
        <div class="form-group">
          <label for="address">Indirizzo</label>
          <input id="address" type="text" class="form-control text-capitalize" placeholder="Indirizzo" [(ngModel)]="item.address" name="address" #address="ngModel" required>
          <div *ngIf="domicilio.submitted && !address.valid" class="is-invalid">Campo errato</div>
        </div>
        <div class="form-group">
          <label for="postcode">Cap</label>
          <input id="postcode" type="text" class="form-control text-capitalize" placeholder="Cap" [(ngModel)]="item.postcode" name="postcode" #postcode="ngModel" required>
          <div *ngIf="domicilio.submitted && !postcode.valid" class="is-invalid">Campo errato</div>
        </div>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" (click)="update(domicilio.value)" class="btn btn--dark">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button (click)="delete(item.id)" class="btn btn--dark">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
          <div class="btn-group" role="group" aria-label="Second group" *ngIf="address._default != true">
            <button (click)="asDefault(item)" class="btn btn-secondary">
              <i class="fa fa-check" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
