<div class="container">
  <alertMessage [message]="alert_message" *ngIf="alert_message"></alertMessage>
  <modalPrompt [message]="modal_message" (confirm)="setConfirm($event)"></modalPrompt>
  <nav class="row mb-3">
    <div class="col">
      <h3 class="mboth-0 weight--light">Lista qualifiche</h3>
    </div>
    <div class="col text-right">
      <a [routerLink]="['/settings/qualification/add']" class="btn btn--light">Aggiungi qualificazione</a>
    </div>
  </nav>
  <div class="general-card general-card--light card mb-4">
    <div class="general-card__body">
      <table class="table table--striped mb-0">
        <thead class="thead--dark">
          <tr>
            <th>Codice</th>
            <th>Descrizione</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="form--light">
          <tr [qualification]="qualification" *ngFor="let qualification of qualifications | paginate: { itemsPerPage: 10, currentPage: p }" (data)="getData($event)" (msg)="getMessage($event)" setting-qualification-row></tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center" *ngIf="qualifications.length >= 10">
        <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <back-button></back-button>
    </div>
    <div class="col text-right">
      <a [routerLink]="['/settings/qualification/add']" class="btn btn--light">Aggiungi qualificazione</a>
    </div>
  </div>
</div>
