<div class="container">
  <h3>All registered users:</h3>
  <!-- <alertMessage [message]="message" *ngIf="message"></alertMessage>
  <modalPrompt [message]="message" (confirm)="setConfirm($event)"></modalPrompt> -->
  <section class="itemsList">
    <div class="itemsList__body">
      <div class="itemsList__body-row row" *ngFor="let user of users">
        <div class="col pt-20 text-capitalize">
           {{user.firstName}} {{user.lastName}} ({{user.username}})
        </div>
        <div class="col text-right">
          <a [routerLink]="['/user', user.id]" class="btn btn-outline-primary">
            <i class="fa fa-info" aria-hidden="true"></i>
          </a>
          <!--
          <a [routerLink]="['/dubber', dubber.id]" class="btn btn-outline-warning">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </a> -->
          <button (click)="deleteUser(user.id)" class="btn btn-outline-danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
