<div class="container">
  <!-- <div class="row mb-3">
    <div class="col">
      <h3 class="section-title">All registered users</h3>
    </div>
    <div class="col">
    </div>
  </div> -->
  <div class="mb-3">
    <search-form [setDataForRequest]="dataForRequestSearchComp" (results)="setFoundValueFromSearch($event)"></search-form>
  </div>
  <alertMessage [message]="alertMessage" *ngIf="alertMessage"></alertMessage>
  <modalPrompt [message]="modalMessage" (confirm)="setConfirm($event)"></modalPrompt>
  <div class="generalCard card mb-4">
    <div class="generalCard__body">
      <table class="table table--striped">
        <thead class="thead--dark">
          <tr>
            <th></th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>
              <!-- <span class="avatar radius bg--trasparent">{{user.avatar}}</span> -->
              <img class="mr-2 rounded-circle user__photo" src="assets/images/user_placeholder_man.png" alt="Generic placeholder image" width="40" height="40">
            </td>
            <td>{{user.first_name}} {{user.last_name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td class="text-right">
              <a [routerLink]="['/user', user.id]" class="btn btn--dark">
                <i class="fa fa-info" aria-hidden="true"></i>
              </a>
              <a [routerLink]="['/user', user.id]" class="btn btn--dark">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
              <button (click)="passCurrentUser(user)" class="btn btn--dark" data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <paginator (pagedItems)="dataset($event)" [DBtable]="DBTable"></paginator>
    </div>
  </div>
  <back-button></back-button>
</div>
