<div class="container">
  <h4 class="mb-20 mt-0">Dati Enpals/Inps</h4>
  <alertMessage [message]="alert_message" *ngIf="alert_message"></alertMessage>
  <div class="general-card card mb-4">
    <div class="general-card__body">
      <form #form="ngForm" (ngSubmit)="update(form)" novalidate class="form--light">
        <div class="form-row">
          <div class="col-sm-4">
            <div class="form-group" [ngClass]="{
              'has-danger': quota_enpals_lavoratore.invalid && (quota_enpals_lavoratore.dirty || quota_enpals_lavoratore.touched)
            }">
              <label for="quota_enpals_lavoratore">Quota enpals lavoratore % *</label>
              <input type="text" class="form-control black" name="quota_enpals_lavoratore" [(ngModel)]="enpals_parameter.quota_enpals_lavoratore" #quota_enpals_lavoratore="ngModel" required />
              <div *ngIf="quota_enpals_lavoratore.invalid && (quota_enpals_lavoratore.dirty || quota_enpals_lavoratore.touched)" class="text-danger pt-5">Campo non valido</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group" [ngClass]="{
              'has-danger': quota_enpals_ditta.invalid && (quota_enpals_ditta.dirty || quota_enpals_ditta.touched)
            }">
              <label for="quota_enpals_ditta">Quota enpals ditta % *</label>
              <input type="text" class="form-control black" name="quota_enpals_ditta" [(ngModel)]="enpals_parameter.quota_enpals_ditta" #quota_enpals_ditta="ngModel" required />
              <div *ngIf="quota_enpals_ditta.invalid && (quota_enpals_ditta.dirty || quota_enpals_ditta.touched)" class="text-danger pt-5">Campo non valido</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group" [ngClass]="{
              'has-danger': minimale_inps.invalid && (minimale_inps.dirty || minimale_inps.touched)
            }">
              <label for="minimale_inps">Minimale inps *</label>
              <input type="text" class="form-control black" name="minimale_inps" [(ngModel)]="enpals_parameter.minimale_inps" #minimale_inps="ngModel" required />
              <div *ngIf="minimale_inps.invalid && (minimale_inps.dirty || minimale_inps.touched)" class="text-danger pt-5">Campo non valido</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group" [ngClass]="{
              'has-danger': percentuale_minimale_inps.invalid && (percentuale_minimale_inps.dirty || percentuale_minimale_inps.touched)
            }">
              <label for="percentuale_minimale_inps">Percentuale minimale inps % *</label>
              <input type="text" class="form-control black" name="percentuale_minimale_inps" [(ngModel)]="enpals_parameter.percentuale_minimale_inps" #percentuale_minimale_inps="ngModel" required />
              <div *ngIf="percentuale_minimale_inps.invalid && (percentuale_minimale_inps.dirty || percentuale_minimale_inps.touched)" class="text-danger pt-5">Campo non valido</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group" [ngClass]="{
              'has-danger': minimale_enpals.invalid && (minimale_enpals.dirty || minimale_enpals.touched)
            }">
              <label for="minimale_enpals">Minimale enpals *</label>
              <input type="text" class="form-control black" name="minimale_enpals" [(ngModel)]="enpals_parameter.minimale_enpals" #minimale_enpals="ngModel" required />
              <div *ngIf="minimale_enpals.invalid && (minimale_enpals.dirty || minimale_enpals.touched)" class="text-danger pt-5">Campo non valido</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group" [ngClass]="{
              'has-danger': trattenuta_pensione.invalid && (trattenuta_pensione.dirty || trattenuta_pensione.touched)
            }">
              <label for="trattenuta_pensione">Trattenuta pensione *</label>
              <input type="text" class="form-control black" name="trattenuta_pensione" [(ngModel)]="enpals_parameter.trattenuta_pensione" #trattenuta_pensione="ngModel" required />
              <div *ngIf="trattenuta_pensione.invalid && (trattenuta_pensione.dirty || trattenuta_pensione.touched)" class="text-danger pt-5">Campo non valido</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group" [ngClass]="{
              'has-danger': massimale_enpals_ante.invalid && (massimale_enpals_ante.dirty || massimale_enpals_ante.touched)
            }">
              <label for="massimale_enpals_ante">Massimale enpals  &lt; '95 *</label>
              <input type="text" class="form-control black" name="massimale_enpals_ante" [(ngModel)]="enpals_parameter.massimale_enpals_ante" #massimale_enpals_ante="ngModel" required />
              <div *ngIf="massimale_enpals_ante.invalid && (massimale_enpals_ante.dirty || massimale_enpals_ante.touched)" class="text-danger pt-5">Campo non valido</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group" [ngClass]="{
              'has-danger': massimale_enpals_dopo.invalid && (massimale_enpals_dopo.dirty || massimale_enpals_dopo.touched)
            }">
              <label for="massimale_enpals_dopo">Massimale enpals &gt; '95 *</label>
              <input type="text" class="form-control black" name="massimale_enpals_dopo" [(ngModel)]="enpals_parameter.massimale_enpals_dopo" #massimale_enpals_dopo="ngModel" required />
              <div *ngIf="massimale_enpals_dopo.invalid && (massimale_enpals_dopo.dirty || massimale_enpals_dopo.touched)" class="text-danger pt-5">Campo non valido</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group" [ngClass]="{
              'has-danger': quota_enpals_ecc_massimale_lavoratore.invalid && (quota_enpals_ecc_massimale_lavoratore.dirty || quota_enpals_ecc_massimale_lavoratore.touched)
            }">
              <label for="quota_enpals_ecc_massimale_lavoratore">Quota enpals ecc massimale lavoratore % *</label>
              <input type="text" class="form-control black" name="quota_enpals_ecc_massimale_lavoratore" [(ngModel)]="enpals_parameter.quota_enpals_ecc_massimale_lavoratore" #quota_enpals_ecc_massimale_lavoratore="ngModel" required />
              <div *ngIf="quota_enpals_ecc_massimale_lavoratore.invalid && (quota_enpals_ecc_massimale_lavoratore.dirty || quota_enpals_ecc_massimale_lavoratore.touched)" class="text-danger pt-5">Campo non valido</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group" [ngClass]="{
              'has-danger': quota_enpals_ecc_massimale_ditta.invalid && (quota_enpals_ecc_massimale_ditta.dirty || quota_enpals_ecc_massimale_ditta.touched)
            }">
              <label for="quota_enpals_ecc_massimale_ditta">Quota enpals ecc massimale ditta % *</label>
              <input type="text" class="form-control black" name="quota_enpals_ecc_massimale_ditta" [(ngModel)]="enpals_parameter.quota_enpals_ecc_massimale_ditta" #quota_enpals_ecc_massimale_ditta="ngModel" required />
              <div *ngIf="quota_enpals_ecc_massimale_ditta.invalid && (quota_enpals_ecc_massimale_ditta.dirty || quota_enpals_ecc_massimale_ditta.touched)" class="text-danger pt-5">Campo non valido</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group" [ngClass]="{
              'has-danger': minimale_giornaliero_aliquota_aggiuntiva.invalid && (minimale_giornaliero_aliquota_aggiuntiva.dirty || minimale_giornaliero_aliquota_aggiuntiva.touched)
            }">
              <label for="minimale_giornaliero_aliquota_aggiuntiva">Minimale giornaliero aliquota aggiuntiva *</label>
              <input type="text" class="form-control black" name="minimale_giornaliero_aliquota_aggiuntiva" [(ngModel)]="enpals_parameter.minimale_giornaliero_aliquota_aggiuntiva" #minimale_giornaliero_aliquota_aggiuntiva="ngModel" required />
              <div *ngIf="minimale_giornaliero_aliquota_aggiuntiva.invalid && (minimale_giornaliero_aliquota_aggiuntiva.dirty || minimale_giornaliero_aliquota_aggiuntiva.touched)" class="text-danger pt-5">Campo non valido</div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group" [ngClass]="{
              'has-danger': percentuale_aliquota_aggiuntiva.invalid && (percentuale_aliquota_aggiuntiva.dirty || percentuale_aliquota_aggiuntiva.touched)
            }">
              <label for="percentuale_aliquota_aggiuntiva">Aliquota aggiuntiva % *</label>
              <input type="text" class="form-control black" name="percentuale_aliquota_aggiuntiva" [(ngModel)]="enpals_parameter.percentuale_aliquota_aggiuntiva" #percentuale_aliquota_aggiuntiva="ngModel" required />
              <div *ngIf="percentuale_aliquota_aggiuntiva.invalid && (percentuale_aliquota_aggiuntiva.dirty || percentuale_aliquota_aggiuntiva.touched)" class="text-danger pt-5">Campo non valido</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <back-button></back-button>
          </div>
          <div class="col-sm-6 text-right">
            <button class="btn btn-outline-success" [disabled]="form.invalid">Salva modifiche</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
