<modalPrompt [message]="modal_message" (confirm)="setConfirm($event)"></modalPrompt>
<div class="form--light mb-30">
  <legend>Dati Bancari:</legend>
  <div class="form-row">
    <div class="col-sm-6" *ngFor="let bank of dubber.banks">
      <div class="bg-light p-all-side-20 mb-15">
        <div class="form-group">
          <label>Nome Banca <span *ngIf="bank._default == true" class="badge badge-secondary">| Predefinito</span></label>
          <!-- [] => messo il valore; [()] => messo e preso il valore -->
          <input disabled type="text" class="form-control black text-capitalize" [ngModel]="bank.bank_name">
        </div>
        <div class="form-group">
          <label>Agenzia</label>
          <input disabled type="text" class="form-control black text-capitalize" [ngModel]="bank.bank_agency">
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label>C/C</label>
              <input disabled type="text" class="form-control black text-capitalize" [ngModel]="bank.bank_account">
            </div>
          </div>
          <div class="col-sm-12 col-md-3 pl-0">
            <div class="form-group">
              <label>ABI</label>
              <input disabled type="text" class="form-control black text-capitalize" [ngModel]="bank.abi">
            </div>
          </div>
          <div class="col-sm-12 col-md-3 pl-0">
            <div class="form-group">
              <label>CAB</label>
              <input disabled type="text" class="form-control black text-capitalize" [ngModel]="bank.cab">
            </div>
          </div>
        </div>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn--dark" title="Modifica">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button (click)="this.current_bank = bank" class="btn btn--dark" data-toggle="modal" data-target="#exampleModal" title="Elimina">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
          <div class="btn-group" role="group" aria-label="Second group" *ngIf="bank._default != true">
            <button (click)="asDefault(bank)" class="btn btn-secondary">
              Seleziona come predefinito
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
