<div class="container">
  <h3 class="mt-0 mb-20 weight--light">Dettagli</h3>
  <alertMessage [message]="alert_message" *ngIf="alert_message"></alertMessage>
  <form #f="ngForm" (ngSubmit)="upDate(f)" novalidate class="form--light bg-light p-all-side-20">
    <div class="form-group" [ngClass]="{
      'has-danger': code.invalid && (code.dirty || code.touched),
      'has-success': code.valid && (code.dirty || code.touched)
    }">
      <label for="code">Codice </label> <span *ngIf="code.invalid && (code.dirty || code.touched)" class="text-danger pt-5">* Campo non valido</span>
      <input id="code" type="text" class="form-control black text-capitalize" placeholder="Codice" [(ngModel)]="qualification.code" name="code" #code="ngModel" maxlength="3" required>
    </div>
    <div class="form-group" [ngClass]="{
      'has-danger': description.invalid && (description.dirty || description.touched),
      'has-success': description.valid && (description.dirty || description.touched)
    }">
      <label for="description">Descrizione</label> <span *ngIf="description.invalid && (description.dirty || description.touched)" class="text-danger pt-5">* Campo non valido</span>
      <textarea id="description" class="form-control black" placeholder="Descrizione" [(ngModel)]="qualification.description" name="description" #description="ngModel" maxlength="100" required></textarea>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <back-button></back-button>
      </div>
      <div class="col-sm-6 text-right">
        <button class="btn btn-outline-success" [disabled]="f.invalid">Salva modifiche</button>
      </div>
    </div>
  </form>
</div>
