/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import "assets/stylesheet/mixin/custom-mixin";
@import 'assets/stylesheet/variables';

body {
  background-color: #f8f9fa;
  margin-top: 57px;
}

button {
  cursor: pointer;
}

.section-title {
  color: #a8a8a8;
}
