@import "assets/stylesheet/mixin/custom-mixin";
@import 'assets/stylesheet/partials/spaces';
@import 'assets/stylesheet/partials/font-weight';
@import 'assets/stylesheet/partials/variables';
@import 'assets/stylesheet/partials/widgets/btn';
@import 'assets/stylesheet/partials/widgets/card';
@import 'assets/stylesheet/partials/widgets/table';
@import 'assets/stylesheet/partials/widgets/avatar';
@import 'assets/stylesheet/partials/widgets/alert';
@import 'assets/stylesheet/partials/widgets/form';
@import 'assets/stylesheet/partials/widgets/tabs';
@import 'assets/stylesheet/partials/widgets/modal';
@import 'assets/stylesheet/partials/widgets/backgrounds';
@import 'assets/stylesheet/partials/widgets/badge';
@import 'assets/stylesheet/partials/widgets/pagination';

body {
  background-color: #772036;
  @include font-style(16px, rgba(255,255,255,.85));
  font-family: 'Roboto', sans-serif;
}

button, a {
  cursor: pointer;
  text-decoration: none;
}

.section-title {
  color: #a8a8a8;
}
