<div class="container">
  <h4 class="mb-20 mt-0">Crea nuova fattura</h4>
  <alertMessage [message]="alert_message" *ngIf="alert_message"></alertMessage>
  <form #data="ngForm" class="form--light bg-light p-all-side-20">
    <section>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="reference_month">Mese di riferimento</label>
            <select id="reference_month" class="form-control black text-capitalize" ngModel name="reference_month">
              <option value="" disabled>Seleziona il mese</option>
              <option *ngFor="let month of months" value="{{month.index}}">
                {{month.text}}
              </option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="reference_year">Anno di riferimento</label>
            <select id="reference_year" class="form-control black text-capitalize" ngModel name="reference_year">
              <option value="" disabled>Seleziona l'anno</option>
              <option *ngFor="let year of years" value="{{year}}">
                {{year}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="film">Scegli film</label>
            <select name="film" class="form-control black" ngModel>
              <option value="" disabled>Seleziona il film</option>
              <option *ngFor="let film of films" value="{{film.id}}; {{film.title}}">
                {{film.title}}
              </option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="film">Scegli collaboratore</label>
            <select name="dubber" class="form-control black text-capitalize" ngModel>
              <option value="" disabled>Seleziona il collaboratore</option>
              <option *ngFor="let dubber of dubbers" value="{{dubber.id}};{{dubber.name}};{{dubber.surname}}">
                {{dubber.name}} {{dubber.surname}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="work_from">Lavoro svolto dal giorno</label>
            <input type="date" class="form-control black" ngModel name="work_from" #work_from="ngModel" (blur)="listOfDaysWorked(work_from.value, 'work_from')" required>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="work_to">Al giorno</label>
            <input type="date" class="form-control black" ngModel name="work_to" #work_to="ngModel" (blur)="listOfDaysWorked(work_to.value, 'work_to')" required>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="number_of_days">Numero di giorni</label>
            <select class="form-control black" required ngModel name="number_of_days" required>
              <option *ngFor="let day of number_of_days" value="{{day}}">{{day}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="amount">Importo</label>
        <input type="number" id="amount" class="form-control black" placeholder="Importo" ngModel name="amount" required>
      </div>
      <div class="form-group">
        <label for="company">Azienda</label>
        <select class="form-control black" required ngModel name="company_id">
          <option value="" disabled>Seleziona azienda</option>
          <option *ngFor="let company of companies" value="{{company.id}}">
            {{company.name}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Note</label>
        <textarea class="form-control black" rows="10" ngModel name="note"></textarea>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-success" (click)="passData(data)" [disabled]="!data.valid">Calcola</button>
        <button type="submit" class="btn btn-warning" (click)="data.reset()">Cancella</button>
      </div>
    </section>
  </form>
  <h3 class="mb-20 mt-40">Dati Enpals/Inps:</h3>
  <form class="form--light bg-light p-all-side-20" #results="ngForm">
    <div class="form-row mb-20">
      <div class="col-sm-3">
        <div class="form-group">
          <label for="quota_enpals_lavoratore">Quota enpals lav.</label>
          <input type="number" id="quota_enpals_lavoratore" class="form-control black" [ngModel]="enpals_data.quota_enpals_lavoratore" name="quota_enpals_lavoratore" maxlength="10" readonly required>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="quota_enpals_ditta">Quota enpals ditta</label>
          <input type="number" id="quota_enpals_ditta" class="form-control black" [ngModel]="enpals_data.quota_enpals_ditta" name="quota_enpals_ditta" maxlength="10" readonly required>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="max_enpals">Massimale enpals</label>
          <input type="number" id="max_enpals" class="form-control black" [ngModel]="enpals_data.max_enpals" name="max_enpals" maxlength="10" readonly required>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="amount_ecc_max">Importo eccedente</label>
          <input type="number" id="amount_ecc_max" class="form-control black" [ngModel]="enpals_data.amount_ecc_max" name="amount_ecc_max" maxlength="10" readonly required>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="quota_enpals_ecc_massimale_lavoratore">Quota enpals ecc. lav.</label>
          <input type="number" id="quota_enpals_ecc_massimale_lavoratore" class="form-control black" [ngModel]="enpals_data.quota_enpals_ecc_massimale_lavoratore" name="quota_enpals_ecc_massimale_lavoratore" maxlength="10" readonly required>
        </div>
      </div>
      <div class="col-sm-3">
        <label for="quota_enpals_ecc_massimale_ditta">Quota enpals ecc. ditta</label>
        <input type="number" id="quota_enpals_ecc_massimale_ditta" class="form-control black" [ngModel]="enpals_data.quota_enpals_ecc_massimale_ditta" name="quota_enpals_ecc_massimale_ditta" maxlength="10" readonly required>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="minimale_inps">Minimale Inps</label>
          <input type="number" id="minimale_inps" class="form-control black" [ngModel]="enpals_data.min_inps" name="min_inps" maxlength="10" readonly>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="min_contribution_inps">Contrib. min. Inps</label>
          <input type="number" id="min_contribution_inps" class="form-control black" [ngModel]="enpals_data.min_contribution_inps" name="min_contribution_inps" maxlength="10" readonly required>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="additional_rate">Aliquota aggiuntiva</label>
          <input type="number" id="additional_rate" class="form-control black" [ngModel]="enpals_data.additional_rate" name="additional_rate" maxlength="10" readonly required>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="trattenuta_pensione">Trattenuta pensione</label>
          <input type="number" id="trattenuta_pensione" class="form-control black" [ngModel]="enpals_data.trattenuta_pensione" name="trattenuta_pensione" maxlength="10" readonly required>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="total_enpals">Totale enpals</label>
          <input type="number" id="total_enpals" class="form-control black" [ngModel]="enpals_data.total_enpals" name="total_enpals" readonly required>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-success" [disabled]="!results.valid" (click)="save()">Salva</button>
    </div>
  </form>
</div>
