<div class="container">
  <div class="col-md-6 mx-auto">
    <alertMessage [message]="alert_message" *ngIf="alert_message"></alertMessage>
    <h2>Register</h2>
    <div class="general-card card mb-4">
      <div class="general-card__body">
        <form name="form" (ngSubmit)="f.form.valid && register(f)" #f="ngForm" novalidate class="form--light">
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control black" name="firstname" ngModel #firstname="ngModel" required />
            <div *ngIf="f.submitted && !firstname.valid" class="is-invalid">First Name is required</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control black" name="lastname" ngModel #lastname="ngModel" required />
            <div *ngIf="f.submitted && !lastname.valid" class="is-invalid">Last Name is required</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="email">Email</label>
            <input type="email" class="form-control black" name="email" ngModel #email="ngModel" required />
            <div *ngIf="f.submitted && !email.valid" class="is-invalid">Email is required</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">Username</label>
            <input type="text" class="form-control black" name="username" ngModel #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="is-invalid">Username is required</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !secret.valid }">
            <label for="secret">Password</label>
            <input type="password" class="form-control black" name="secret" ngModel #secret="ngModel" required />
            <div *ngIf="f.submitted && !secret.valid" class="is-invalid">secret is required</div>
          </div>
          <!-- <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !secret.valid }">
            <label for="confirm_secret">Confirm secret</label>
            <input type="password" class="form-control black" name="confirm_secret" ngModel #confirm_secret="ngModel" required />
            <div *ngIf="f.submitted && !confirm_secret.valid" class="is-invalid">secret is required</div>
          </div> -->
          <div class="form-group">
            <label for="user_type">Type of user</label>
            <select class="form-control black" name="user_type" ngModel #user_type="ngModel" required>
              <option value="0">Administrator</option>
              <option value="1" selected>Simple user</option>
            </select>
            <div *ngIf="f.submitted && !user_type.valid" class="is-invalid">Type of user field is required</div>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn--light">Register <i *ngIf="loading" class="fa fa-spinner fa-pulse fa-fw"></i></button>
            <a [routerLink]="['/login']" class="btn btn--light">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
