<div class="container">
  <!-- <alertMessage [message]="alert_message" *ngIf="alert_message"></alertMessage>
  <modalPrompt [message]="modal_message" (confirm)="setConfirm($event)"></modalPrompt> -->
  <nav class="row mb-3">
    <div class="col">
      <!-- <search-form [setDataForRequest]="dataForRequestSearchComp" (results)="setFoundValueFromSearch($event)"></search-form> -->
    </div>
    <div class="col text-right">
      <a [routerLink]="['/enaplspayments/add']" class="btn btn--light">Aggiungi versamento enpals</a>
    </div>
  </nav>
  <div class="generalCard card mb-4">
    <div class="generalCard__body">
      <table class="table table--striped">
        <thead class="thead--dark">
          <tr>
            <th>Data versamento</th>
            <th>Importo</th>
            <th>ABI</th>
            <th>CAB</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="form--light">
          <tr *ngFor="let item of enpals_payments">
            <td>
              <ng-container *ngIf="!editable_values; else editable">
                <input type="text" id="data_payments" readonly class="form-control text-capitalize" placeholder="Data versamento" [(ngModel)]="item.data_payments" name="data_payments" #data_payments="ngModel" required>
              </ng-container>
              <ng-template #editable>
                <input type="text" id="data_payments" class="form-control text-capitalize" placeholder="Data versamento" [(ngModel)]="item.data_payments" name="data_payments" #data_payments="ngModel" required>
              </ng-template>
            </td>
            <td>
              <input type="text" id="amount" class="form-control text-capitalize" placeholder="Importo" [(ngModel)]="item.amount" name="amount" #amount="ngModel" required>
            </td>
            <td>
              <input type="text" id="abi" readonly class="form-control text-capitalize" placeholder="ABI" [(ngModel)]="item.abi" name="abi" #abi="ngModel" required>
            </td>
            <td>
              <input type="text" id="cab" readonly class="form-control text-capitalize" placeholder="CAB" [(ngModel)]="item.cab" name="cab" #cab="ngModel" required>
            </td>
            <td class="text-right">
              <ng-container *ngIf="editable_values">
                <button (click)="restoreReadonlyInput()" class="btn btn--dark" title="Salva">
                  <i class="fa fa-save" aria-hidden="true"></i>
                </button>
              </ng-container>
              <button *ngIf="!editable_values" (click)="setEditableInput()" class="btn btn--dark" title="Modifica">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
              <button (click)="passCurrentFilm(item)" class="btn btn--dark" data-toggle="modal" data-target="#exampleModal" data-toggle="tooltip" data-placement="top" title="Cancella">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <back-button></back-button>
    </div>
    <div class="col text-right">
      <a [routerLink]="['/enaplspayments/add']" class="btn btn--light">Aggiungi versamento enpals</a>
    </div>
  </div>
</div>
