<table class="table table--striped" *ngIf="dubber.films.length; else noFilm">
  <tbody>
    <tr *ngFor="let film of dubber.films | paginate: { itemsPerPage: 2, currentPage: p }">
      <td>{{film.title}}</td>
      <td class="text-right">
        <a [routerLink]="['/film', film.id]" class="btn btn--dark" title="Modifica">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
        <button (click)="delete(film.id)" class="btn btn--dark" data-toggle="modal" data-target="#exampleModal" title="Elimina">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<ng-template #noFilm>
  <p class="alert alert-warning">Non ci sono film associati</p>
</ng-template>
<div class="d-flex justify-content-center" *ngIf="dubber.films.length > 0">
  <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
</div>
