<modalPrompt [message]="modal_message" (confirm)="setConfirm($event)"></modalPrompt>
<table class="table table--striped" *ngIf="dubber.invoices; else noInvoices">
  <tbody>
    <tr *ngFor="let invoice of dubber.invoices">
      <td>Compenso per prestazione d'opera relativa al film <strong>{{invoice.film}}</strong></td>
      <td class="text-right">
        <a [routerLink]="['/invoice', invoice.id]" class="btn btn--dark">
          <i class="fa fa-info" aria-hidden="true"></i>
        </a>
        <a href="" class="btn btn--dark">
          <i class="fa fa-download"></i>
        </a>
        <button (click)="this.current_invoice = invoice" class="btn btn--dark" data-toggle="modal" data-target="#exampleModal">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<ng-template #noInvoices>
  <p class="alert alert-warning">Non ci sono fatture associate</p>
</ng-template>
