<ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center">
  <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(1)" class="page-link">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </a>
  </li>
  <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(pager.currentPage - 1)" class="page-link">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </a>
  </li>
  <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a (click)="setPage(page)" class="page-link">{{page}}</a>
  </li>
  <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.currentPage + 1)" class="page-link">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </a>
  </li>
  <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.totalPages)" class="page-link">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </a>
  </li>
</ul>
